<div>
    <form (ngSubmit)="submitMedicine()" class="medicineform-wrapper" [formGroup]="medicineForm">
        <div class="d-flex flex-column gap-2">
            <label for="name">Name<span class="text-danger">*</span></label>
            <input pInputText [ngClass]="" type="text" id="name" formControlName="name" required>
            
            <div class="text-danger" *ngIf="(f['name'].errors && f['name'].touched) || (f['name'].dirty && f['name'].errors)">Please enter name</div>
        </div>
        <div class="d-flex flex-column gap-2">
            <label for="potency">Potency<span class="text-danger">*</span></label>
            <input pInputText type="number" id="potency" formControlName="potency" required>
            <div class="text-danger" *ngIf="(f['potency'].errors && f['potency'].touched) || (f['potency'].dirty && f['potency'].errors)">Please enter potency.</div>
        </div>
        <div class="d-flex flex-column gap-2">
            <label for="potencyUnits">Unit<span class="text-danger">*</span></label>
            <select class="form-select h-100" id="potencyUnits" formControlName="potencyUnits" required>
                <option [value]="null" selected disabled>Select a Potency Unit</option>
                <option *ngFor="let potencyUnit of Units" [value]="potencyUnit.value" >{{potencyUnit.label}}</option>
            </select>
            <div class="text-danger" *ngIf="(f['potencyUnits'].errors && f['potencyUnits'].touched) || (f['potencyUnits'].dirty && f['potencyUnits'].errors)">Please select a potency unit.</div>
        </div>
        <div class="d-flex flex-column gap-2">
            <label for="price">Price<span class="text-danger">*</span></label>
            <input pInputText type="number" id="price" formControlName="price" required>
            <div class="text-danger" *ngIf="(f['price'].errors && f['price'].touched) || (f['price'].dirty && f['price'].errors)">Please enter price.</div>
        </div>
        <div class="d-flex flex-column gap-2">
            <label for="salts">Active Ingredeint<span class="text-danger">*</span></label>
            <input pInputText type="text" id="salts" formControlName="salt" required>
            <div class="text-danger" *ngIf="(f['salt'].errors && f['salt'].touched) || (f['salt'].dirty && f['salt'].errors)">Please add salt.</div>
        </div>
        <div class="d-flex flex-column gap-2">
            <label for="type">Category<span class="text-danger">*</span></label>
            <select class="form-select h-100"  id="type" formControlName="medicineType" required>
                <option [value]="null" selected disabled>Select Medicine Type</option>
                <option *ngFor="let medicineType of medicineTypes" [value]="medicineType.value" >{{medicineType.label}}</option>
            </select>
            <div class="text-danger" *ngIf="(f['medicineType'].errors && f['medicineType'].touched) || (f['medicineType'].dirty && f['medicineType'].errors)">Please select a type.</div>
        </div>
        <div class="d-flex flex-column">
            <button class="btn btn-primary add-medicine mt-3 col-2"
                [disabled]="
                (f['name'].errors || !f['name'].valid) &&
                (f['potency'].errors || !f['potency'].valid) &&
                (f['potencyUnits'].errors || !f['potencyUnits'].valid) &&
                (f['price'].errors || !f['price'].valid) &&
                (f['salt'].errors || !f['salt'].valid) &&
                (f['medicineType'].errors || !f['medicineType'].valid) 
                "
            type="submit">{{action === 'add'? 'add Medicine +': 'update Medicine +'}}</button>
        </div>
    </form>
</div>