<div #printElement>
    <div class="flex justify-between m-3">
        <div class="w-20 flex items-center font-bold">
            {{healthRecord.doctor?.qualification}}
        </div>
        <div class="grid grid-cols-2 gap-4">

            <div class="flex flex-column">
                
                <span><strong>Date:-</strong></span> 
                <span><strong>Patient Name:-</strong></span> 
                <span><strong>Patient Age:-</strong></span> 
            </div>
            <div class="flex flex-column">
                <span class="text-end"> {{healthRecord.createdAt | date: 'EEE MM/dd/yyyy'}}</span>
                <span class="text-end"> {{patient.name}}</span>
                <span class="text-end"> {{patient.age}}</span>
            </div>

        </div>
    </div>
       
        <div class="flex justify-center items-center bg-black p-2">
            <h1 class="text-3xl bold dr-name text-white">{{healthRecord?.doctor?.name}}</h1>
        </div>
            <ng-container *ngIf="historyData">
                <div >
                    <div>
                        <div class="text-center">

                            <h2 class="text-center">Vitals</h2>
                        </div>
                        <div class="grid grid-cols-6 gap-1 md:grid-cols-6 gap-1">
                            <div>
                                <h3>Pulse heart rate</h3>
                                <span class="text-black">{{historyData.vitals?.pulseHeartRate ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Temperature °C To °F</h3>
                                <span class="text-black">{{historyData.vitals?.temperature ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Blood pressure</h3>
                                <span class="text-black">{{historyData.vitals?.bloodPressure ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Diastolic Blood Pressure</h3>
                                <span class="text-black">{{historyData.vitals?.diastolicBloodPressure ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Respiratory Rate</h3>
                                <span class="text-black">{{historyData.vitals?.respiratoryRate ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Blood Sugar</h3>
                                <span class="text-black">{{historyData.vitals?.bloodSugar ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Weight(in kg e.g:70)</h3>
                                <span class="text-black">{{historyData.vitals?.weight ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Height Feet To Cm</h3>
                                <span class="text-black">{{historyData.vitals?.height ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Body Mass Index (BMI)</h3>
                                <span class="text-black">{{historyData.vitals?.bodyMassIndex ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Oxygen Saturation</h3>
                                <span class="text-black">{{historyData.vitals?.oxygenSaturation ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Body Surface Area (BSA)</h3>
                                <span class="text-black">{{historyData.vitals?.bodySurfaceArea ?? 'N/A'}}</span>                    
                            </div>
                            <div>
                                <h3>Reason</h3>
                                <span class="text-black">{{historyData.vitals?.reason ?? 'N/A'}}</span>                    
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="flex flex-row">
                <section class="w-1/4 flex flex-col">
                    <div class="">
                        <h2 class="text-center">Prescription</h2>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                            <div>
                                <h3>Medical History</h3>
                                <p class="text-black">{{historyData.prescription?.medicalHistory ?? 'N/A'}}</p>
                            </div>
                            <div>
                                <h3>Complaint</h3>
                                <p class="text-black">{{historyData.prescription?.complaint ?? 'N/A'}}</p>
                            </div>
                            <div>
                                <h3>Examination</h3>
                                <p class="text-black">{{historyData.prescription?.examination ?? 'N/A'}}</p>
                            </div>
                            <div>
                                <h3>Diagnosis</h3>
                                <p class="text-black">{{historyData.prescription?.diagnosis ?? 'N/A'}}</p>
                            </div>
                            <div>
                                <h3>Clinical Notes</h3>
                                <p class="text-black">{{historyData.prescription?.clinicNotes ?? 'N/A'}}</p>
                            </div>
                            <div>
                                <h3>Advice</h3>
                                <p class="text-black">{{historyData.prescription?.advice ?? 'N/A'}}</p>
                            </div>
                            <div>
                                <h3>Investigation</h3>
                                <p class="text-black">{{historyData.prescription?.investigation ?? 'N/A '}}</p>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="healthRecord.labOrder">
                        <h2>Laboratory Tests</h2>
                        <ul>
                            <li *ngFor="let lab of healthRecord.labOrder.labOrderDetails">{{lab.labTestName}}</li>
                        </ul>
                    </div>
                   
                </section>
            
                <section class="w-3/4 border-l p-4">
                    <div>
                        <div class="">
                            <h2 class="text-center">Medications</h2>

                        </div>
                        <div *ngFor="let medication of medicationTableData" class="border-b">
                            <div>
                                <h2>
                                    {{medication.name ?? 'Medicine Name'}}
                                </h2>
                            </div>
                            <span> Take {{medication.dosage}}, {{medication.frequency}} for {{medication.duration}} by {{medication.route}}.</span>

                            <!-- <app-generic-table [columns]="medicationTableColumns" [data]="medicationTableData" [showPaginator]="false"></app-generic-table> -->
                        </div>
                    </div>
                </section>
            </div>
                <!-- <section>
                    <div>
                        <h1>Lab Order</h1>
                        <div>
            
                        </div>
                    </div>
                </section> -->
            </ng-container>
  
</div>
<div class="flex items-center justify-center">

    <p-button class="w-1/6" label="Print" (onClick)="print()"></p-button>
</div>