<div>
    <form >
        <ng-container >
            <div >
                <p-fileUpload class="uploadFiles-custom-style"   (onSelect)="fileSelected($event)"  [multiple]="true" accept="image/*" [maxFileSize]="1000000">
                    <ng-template pTemplate="content">
                        <ul *ngIf="uploadedFiles.length">
                            <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                        </ul>
                    </ng-template>
                </p-fileUpload>
            </div>
        </ng-container>
    </form>
</div>

<p-button [label]="'Upload'" class="my-2" (onClick)="uploadFile($event)"></p-button>
<p-button [label]="'Take A Picture'" (onClick)="openCamera()"></p-button>