<div>
    <div><h1>Patient History</h1></div>
    <section>
        <div>
            <h2>Vitals</h2>
            <div class="grid grid-cols-4 gap-4">
                <div>
                    <h3>Pulse heart rate</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Temperature °C To °F</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Blood pressure</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Diastolic Blood Pressure</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Respiratory Rate</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Blood Sugar</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Weight(in kg e.g:70)</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Height Feet To Cm</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Body Mass Index (BMI)</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Oxygen Saturation</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Body Surface Area (BSA)</h3>
                    <span></span>                    
                </div>
                <div>
                    <h3>Reason</h3>
                    <span></span>                    
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2>Prescription</h2>
            <div>
                <div>
                    <h3>Medical History</h3>
                    <p></p>
                </div>
                <div>
                    <h3>Complaint</h3>
                    <p></p>
                </div>
                <div>
                    <h3>Examination</h3>
                    <p></p>
                </div>
                <div>
                    <h3>Diagnosis</h3>
                    <p></p>
                </div>
                <div>
                    <h3>Clinical Notes</h3>
                    <p></p>
                </div>
                <div>
                    <h3>Advice</h3>
                    <p></p>
                </div>
                <div>
                    <h3>Investigation</h3>
                    <p></p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2>Medications</h2>
            <div>
                
            </div>
        </div>
    </section>
    <section>
        <div>
            <h1>Lab Order</h1>
            <div>

            </div>
        </div>
    </section>
</div>