<div>
    <h1 class="mb-4 text-center">{{action === 'add'?'Add User':'Update User'}}</h1>
    <form class="userform-wrapper" [formGroup]="userForm" (ngSubmit)="formSubmit($event)" >
        <div class="d-flex flex-column gap-2">
            <label htmlFor="firstName">Firts Name</label>
            <input pInputText id="firstName"  formControlName="firstName"/>
            <div class="text-danger" *ngIf="(f['firstName'].errors && f['firstName'].dirty) || (f['firstName'].errors && f['firstName'].touched)">
                <small>First-Name is required.</small>
            </div>
        </div>
        <div class="d-flex flex-column gap-2">
            <label htmlFor="lastName">Last Name</label>
            <input pInputText id="lastName" formControlName="lastName" required/>
            <div class="text-danger" *ngIf="(f['lastName'].errors && f['lastName'].dirty) || (f['lastName'].errors && f['lastName'].touched)">                
                <small> Last-Name is required.</small>
            </div>
        </div>
        <div class="d-flex flex-column gap-2">
            <label htmlFor="email">Email</label>
            <input pInputText id="email" formControlName="email" (blur)="isEmailExist()"/>
            <div class="text-danger" *ngIf="(f['email'].errors && f['email'].dirty) || (f['email'].errors && f['email'].touched)">                
                <small> Email is required.</small>
            </div>
            <div class="text-danger" *ngIf="f['email'].errors?.['inuse']">
                This Email Address is already in use. Please enter a different Email Address.
            </div>
        </div>
        <div class="d-flex flex-column gap-2" *ngIf="action ==='add'">
            <label htmlFor="password">Password</label>
            <input pInputText id="password" type="password" formControlName="password"/>
            <div class="text-danger" *ngIf="(f['password'].errors && f['password'].dirty) || (f['password'].errors && f['password'].touched)">                
                <small> Password is required.</small>
            </div>
        </div>
        <!-- <div class="d-flex flex-column gap-2">
            <label htmlFor="gender">Gender</label>
            <div id="gender" class="d-flex flex-rows gap-5">
                <div>
                    <label>
                      <input type="radio" name="gender" value="Male" formControlName="gender"> Male
                    </label>
                </div>
                <div>
                    <label>
                      <input type="radio" name="gender" value="Female" formControlName="gender"> Female
                    </label>
                </div>
                <div>
                    <label>
                      <input type="radio" name="gender" value="Others" formControlName="gender"> Others
                    </label>
                </div>
            </div>
            <div class="text-danger" *ngIf="(f['gender'].errors && f['gender'].dirty) || (f['gender'].errors && f['gender'].touched)">                
                <small><i class="fa fa-circle-exclamation"></i> Gender is required</small>
            </div>
        </div> -->
        <div class="d-flex flex-column gap-2">
            <label htmlFor="phoneNumber">Phone#</label>
            <input pInputText id="phoneNumber" formControlName="phoneNumber"/>
            <div class="text-danger" *ngIf="(f['phoneNumber'].errors && f['phoneNumber'].dirty) || (f['phoneNumber'].errors && f['phoneNumber'].touched)">                
                <small> Phone# is required.</small>
            </div>
        </div>
        <div class="d-flex flex-column gap-2">
            <label htmlFor="phoneNumber">Role</label>
            <select class="form-select h-100" formControlName="role">
                <option selected [value]="null" disabled>Select Role.</option>
                <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
            </select>
            <div class="text-danger" *ngIf="(f['role'].errors && f['role'].dirty) || (f['role'].errors && f['role'].touched)">                
                <small> Role is required.</small>
            </div>
        </div>
        <div class="form-group" style="text-align: end;">
        <p-button type="Submit" class="mt-3"
        [disabled]="
        (!f['firstName'].valid) &&
        (!f['lastName'].valid) &&
        (!f['email'].valid) &&
        (!f['phoneNumber'].valid) &&
        (!f['role'].valid)"
        >{{action === 'add'?'Add User':'Update User'}}</p-button>
    </div>
    </form>
</div>