<div [formGroup]="prescriptionForm">
    <hr class="w-90 mb-2"  style="border: 1px solid #979797;">
    <div class="flex flex-row-reverse">
    </div> 
    <div class="prrescription-input">
        <label htmlFor="medicalHistory">Medical History</label>
        <div class="flex flex-row gap-2 items-center py-1">
                <div class="procedure-select-div" >
                    <p-calendar id="startdate" [style]="{width: '110px'}" placeholder="Start Date" appendTo="body" class="datePicker" ></p-calendar>
                </div>
                <div class="procedure-select-div" >
                    <p-calendar id="enddate" [style]="{width: '110px'}" placeholder="End Date" appendTo="body" class="datePicker" ></p-calendar>
                </div>
                <div class="flex flex-row p-2">
                    <p-checkbox  [binary]="true" inputId="continue"></p-checkbox>
                    <label for="continue" class="ml-2">Continue</label>
                </div>
        </div>
        <div class="inner-prescription">
            <textarea rows="1" cols="93" class="w-full textarea-height" id="medicalHistory" pInputTextarea formControlName="medicalHistory" ></textarea>
        </div>
    </div>
    <div class="prrescription-input">
        <label htmlFor="complaint">Complaint</label>
        <div class="flex flex-row gap-2 items-center py-1">
                <div class="procedure-select-div" >
                    <input id="days" pInputText type="number" style="width: 110px" placeholder="Days"  formControlName="days" />
                </div>
                <div class="procedure-select-div" >
                    <input id="Hours" pInputText type="number" style="width: 110px" placeholder="Hours"  formControlName="hours" />
                </div>
        </div>
        <div class="inner-prescription">
            <textarea rows="1" cols="93" class="w-full textarea-height" id="complaint" pInputTextarea formControlName="complaint"></textarea>
        </div>
    </div>
    <div class="prrescription-input">
        <label htmlFor="examination">Examination</label>
        <div class="inner-prescription">
            <textarea rows="1" cols="93" class="w-full textarea-height" id="examination" pInputTextarea formControlName="examination"></textarea>
        </div>
        <div class="prrescription-input pl-2">
            <label htmlFor="positiveFindings">Positive Findings</label>
            <div class="inner-prescription">
                <textarea rows="1" cols="93" class="w-full textarea-height" id="positiveFindings" pInputTextarea formControlName="positiveFindings"></textarea>
            </div>
        </div>
        <div class="prrescription-input pl-2">
            <label htmlFor="otherExamination">Other Examinations</label>
            <div class="inner-prescription">
                <textarea rows="1" cols="93" class="w-full textarea-height" id="otherExamination" pInputTextarea formControlName="otherExamination"></textarea>
            </div>
        </div>
    </div>
    <div class="prrescription-input">
        <label htmlFor="provisionalDiagnosis">Provisional Diagnosis</label>
        <div class="inner-prescription">
            <textarea rows="1" cols="93" class="w-full textarea-height" id="provisionalDiagnosis" pInputTextarea formControlName="provisionalDiagnosis"></textarea>
        </div>
    </div>
    <div class="prrescription-input">
        <label htmlFor="finalDiagnosis">Final Diagnosis</label>
        <div class="inner-prescription">
            <textarea rows="1" cols="93" class="w-full textarea-height" id="finalDiagnosis" pInputTextarea formControlName="finalDiagnosis"></textarea>
        </div>
    </div>
    <div class="prrescription-input">
        <label htmlFor="clinicalNotes">Clinical Notes</label>
        <div class="inner-prescription">
            <textarea rows="1" cols="93" class="w-full textarea-height" id="clinicalNotes" pInputTextarea formControlName="clinicNotes"></textarea>
        </div>
    </div>
    <div class="prrescription-input">
        <label htmlFor="advice">Advice</label>
        <div class="inner-prescription">
            <textarea rows="1" cols="93" class="w-full textarea-height" id="advice" pInputTextarea formControlName="advice"></textarea>
        </div>
    </div>
    <div class="prrescription-input">
        <label htmlFor="investigation">Investigation</label>
        <div class="inner-prescription">
            <textarea rows="1" cols="93" class="w-full textarea-height" id="investigation" pInputTextarea formControlName="investigation"></textarea>
        </div>
    </div>
    <div class="prrescription-input" *ngIf="showReason">
        <label htmlFor="investigation">Reason</label>
        <div class="inner-prescription">
            <textarea rows="1" cols="93" class="w-full textarea-height" id="reason" pInputTextarea formControlName="reason"></textarea>
        </div>
    </div>

    <hr>
</div>