.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    flex-direction: column;
}
.welcomeLog{    
    font-size: 150px;
    line-height: initial;
}
.pressButtonSpan{
    font-size: 30px;
    line-height: initial;
    font-weight: bold;
    color: #3B538C;
}