<div class="sideNavContainer">
    <div class="sideNavTab"  (click)="navigate('admin/user-form')">
        <span>Users</span>
    </div>
    <div class="sideNavTab" (click)="navigate('admin/medicine-list')">
        <span>Medicine</span>
    </div>
    <div class="sideNavTab" (click)="navigate('admin/tests')">
        <span>Tests</span>
    </div>
    <div class="sideNavTab" (click)="navigate('admin/categories')">
        <span>Categories</span>
    </div>
    <div class="sideNavTab" (click)="navigate('admin/wards')">
        <span>Wards</span>
    </div>
    <div class="sideNavTab" (click)="navigate('admin/beds')">
        <span>Beds</span>
    </div>
    <div class="sideNavTab" (click)="navigate('admin/HR')">
        <span>Human Resources</span>
    </div>
    <div class="sideNavTab" (click)="navigate('admin/shifts')">
        <span>Shifts</span>
    </div>
    <div class="sideNavTab" (click)="navigate('admin/data-import-export')">
        <span>(Data) Import/Export</span>
    </div>
    <div>
        <p-panelMenu [model]="hierarchies" [style]="{}"></p-panelMenu>
    </div>
</div>