<form [formGroup]="collectionForm">
  <div class="position-relative">
    <i class="fa-2xl px-8 py-8 ml-auto w-fit block"></i>
    <p class="text-center font-weight-bold"><b>Patient Sample Collection</b></p>
  </div>
  <div class="px-md-5 px-2 pb-5">
    <div>
        <div class="w-full grid md:grid-cols-6 items-end gap-4 mt-4">
          <div>
            <label for="descriptionDetail">Patients</label>
            <div class="d-flex justify-content-center flex-column">
              <p-autoComplete
                [suggestions]="patientsToShow"
                #patient
                [dropdown]="true"
                field="name"
                (completeMethod)="onPatientSearch($event)"
                (onSelect)="onPatientSelection(patient.value.id)"
                placeholder="Search Patient"
                dropdownIcon="pi pi-search"
                [minLength]="1"
              >
              </p-autoComplete>
            </div>
            <div
              *ngIf="submitted && f['patientId'].errors"
              class="invalid-feedback"
            >
              <div *ngIf="f['patientId'].errors['required']">
                Patient Id is required
              </div>
            </div>
          </div>
          <div class="">
            <label for="descriptionDetail">Test Category</label>
            <p-autoComplete
              [suggestions]="testCategoryToShow"
              #category
              [dropdown]="true"
              field="name"
              (completeMethod)="onSearchCategory($event)"
              (onSelect)="selectCategory(category.value.id)"
              placeholder="Search Test Category"
              dropdownIcon="pi pi-search"
              [minLength]="1"
            >
            </p-autoComplete>
          </div>
          <button
            class="btn btn-primary whitespace-nowrap h-fit py-2"
            [disabled]="!category.value"
            (click)="GenerateSampleID()"
          >
            Generate Sample Id
          </button>
          {{generateId}}==
        </div>
      <div formArrayName="testItems">
        <div
          *ngFor="let item of testItems.controls; let i = index"
          class="my-4"
        >
        <div
        [formGroupName]="i"
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-6 gap-4"
        >
            <div
              class="d-flex justify-content-center flex-column w-full"
            >
              <label for="descriptionDetail">Lab Test</label>
              <div
                class="d-flex justify-content-center flex-column w-full"
              >
                <p-autoComplete
                  [suggestions]="testToView"
                  #description
                  [dropdown]="true"
                  field="name"
                  (completeMethod)="onTestSearch($event)"
                  (onSelect)="onTestSelect(i, description.value)"
                  placeholder="Test Name/Code"
                  dropdownIcon="pi pi-search"
                  [minLength]="1"
                >
                </p-autoComplete>
              </div>
              <div
                class="text-danger"
                *ngIf="
                  (invoiceDescriptionForm.controls['testId'].errors &&
                    invoiceDescriptionForm.controls['testId'].touched) ||
                  (invoiceDescriptionForm.controls['testId'].touched &&
                    !invoiceDescriptionForm.controls['testId'].valid)
                "
              >
                <small>patient Id required.</small>
              </div>
            </div>
            <div
              class="d-flex justify-content-center w-full flex-column"
            >
              <label for="amount">Sample</label>
              <input
                class="h-10"
                type="text"
                pInputText
                name="sample"
                formControlName="sample"
              />
            </div>
            <div
              class="d-flex justify-content-center w-full flex-column"
            >
              <label for="sample">Sample Id</label>
              <input
                class="h-10"
                type="text"
                pInputText
                name="sample"
                formControlName="sampleId"
                required
              />
              <div
                class="text-danger"
                *ngIf="
                  (invoiceDescriptionForm.controls['sampleId'].errors &&
                    invoiceDescriptionForm.controls['sampleId'].touched) ||
                  (invoiceDescriptionForm.controls['sampleId'].touched &&
                    !invoiceDescriptionForm.controls['sampleId'].valid)
                "
              >
                <small>sample Id is required.</small>
              </div>
            </div>

        <div class="ml-3 mt-3 md:mt-0">
          <span (click)="removeinvoiceItem(i)">
            <i class="fa fa-trash"></i>
          </span>
          </div>
          </div>
        </div>
      </div>
      <button
        (click)="addNewInvoiceItem()"
        class="d-flex btn btn-primary mb-4 md:mb-0 align-items-center"
      >
        Item
      </button>
    </div>
    <div
      class="md:w-2/4 ms-auto mt-5 md:mt-0 d-flex justify-end align-items-center"
    >
      <button class="btn btn-primary mr-8" (click)="addTestSample()">
        Save
      </button>
      <button class="btn btn-primary">Save & Print</button>
    </div>
  </div>
</form>
