<form [formGroup]="collectionForm">
    <div class="position-relative">
        <i class="fa-solid fa-xmark fa-2xl px-8 py-8 ml-auto w-fit  block" (click)="cancel()"></i>
        <p class="text-center font-weight-bold"><b>Collection Sample</b></p>
    </div>
    <div class="px-md-5 px-2 pb-5">
        <div>
            <div class="d-flex justify-content-center flex-column md:pr-2">
                <label for="descriptionDetail">Patients</label>
                <select id="descriptionDetail" class="form-select" [disabled]="!descriptions || !descriptions.length"
                    formControlName="patientId" #patient (optionSelected)="patientSelect(patient.value)">
                    <option [defaultSelected]="true" disabled>Select A Description</option>
                    <option *ngFor="let drop of patientsToShow" [value]="drop.id">
                        {{drop.name}}</option>
                </select>
            </div>

            <div formArrayName="invoiceItems">
                <div class="justify-content-center">
                    <hr class="col-12">
                </div>
                <div *ngFor="let item of invoiceItems.controls ; let i = index" class="my-4">
                    <div [formGroupName]='i' class="flex justify-between items-center flex-col lg:flex-row">
                        <div class="d-flex justify-content-center flex-column w-full md:pr-2">
                            <label for="descriptionDetail">Lab Template</label>
                            <select id="descriptionDetail" class="form-select"
                                [disabled]="!descriptions || !descriptions.length" formControlName="testId" #description
                                (change)="onDescriptionSelect(i, description.value)">
                                <option [defaultSelected]="true" disabled>Select A Description</option>
                                <option *ngFor="let drop of tests" [value]="drop.id">
                                    {{drop.name}}</option>
                            </select>
                        </div>

                        <div class="d-flex justify-content-center lg:px-2 w-full my-3 md:my-0 flex-column">
                            <label for="description">Description</label>
                            <input class="h-10" type="text" pInputText name="amount" formControlName="description">
                        </div>
                        <div class="d-flex justify-content-center lg:px-2 w-full my-3 md:my-0 flex-column">
                            <label for="amount">Sample</label>
                            <input class="h-10" type="text" pInputText name="sample" [readonly]="true"
                                formControlName="sample">
                        </div>
                        <div class="d-flex justify-content-center w-full flex-column">
                            <label for="status">Sample Status</label>
                            <select id="status" class="form-select"
                                formControlName="status">
                                <option [defaultSelected]="true" disabled>Select A Description</option>
                                <option *ngFor="let drop of testStatus" [value]="drop.value">
                                    {{drop.label}}</option>
                            </select>
                        </div>
                        <div class="ml-3">
                            <button (click)="removeinvoiceItem(i)">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <button (click)="addNewInvoiceItem()"
                class="d-flex btn btn-primary mb-4 md:mb-0 align-items-center">Item</button>

        </div>
        <div class="md:w-2/4 ms-auto mt-5 md:mt-0 d-flex justify-content-evenly align-items-center">
            <button class="btn btn-primary" (click)="addToken()">Save</button>
            <button class="btn btn-primary">Save & Print</button>
        </div>
    </div>
</form>