<!-- <ng-container *ngIf="historyData">
    <div class="flex flex-row">
    <section class="w-1/3">
        <div class="">
            <h2 class="text-center">Prescription</h2>
            <div>
                <div>
                    <h3>Medical History</h3>
                    <p class="text-black">{{historyData.prescription?.medicalHistory ?? 'N/A'}}</p>
                </div>
                <div>
                    <h3>Complaint</h3>
                    <p class="text-black">{{historyData.prescription?.complaint ?? 'N/A'}}</p>
                </div>
                <div>
                    <h3>Examination</h3>
                    <p class="text-black">{{historyData.prescription?.examination ?? 'N/A'}}</p>
                </div>
                <div>
                    <h3>Diagnosis</h3>
                    <p class="text-black">{{historyData.prescription?.diagnosis ?? 'N/A'}}</p>
                </div>
                <div>
                    <h3>Clinical Notes</h3>
                    <p class="text-black">{{historyData.prescription?.clinicNotes ?? 'N/A'}}</p>
                </div>
                <div>
                    <h3>Advice</h3>
                    <p class="text-black">{{historyData.prescription?.advice ?? 'N/A'}}</p>
                </div>
                <div>
                    <h3>Investigation</h3>
                    <p class="text-black">{{historyData.prescription?.investigation ?? 'N/A '}}</p>
                </div>
            </div>
        </div>
        <div >
            <div>
                <div class="text-center">

                    <h2 class="text-center">Vitals</h2>
                </div>
                <div class="grid grid-cols-4 gap-4">
                    <div>
                        <h3>Pulse heart rate</h3>
                        <span class="text-black">{{'90'}}</span>                    
                    </div>
                    <div>
                        <h3>Temperature °C To °F</h3>
                        <span class="text-black">{{'37.5'}}</span>                    
                    </div>
                    <div>
                        <h3>Blood pressure</h3>
                        <span class="text-black">{{'170/90'}}</span>                    
                    </div>
                    <div>
                        <h3>Diastolic Blood Pressure</h3>
                        <span class="text-black">{{'180/120'}}</span>                    
                    </div>
                    <div>
                        <h3>Respiratory Rate</h3>
                        <span class="text-black">{{'90'}}</span>                    
                    </div>
                    <div>
                        <h3>Blood Sugar</h3>
                        <span class="text-black">{{'95'}}</span>                    
                    </div>
                    <div>
                        <h3>Weight(in kg e.g:70)</h3>
                        <span class="text-black">{{historyData.vitals?.weight ?? '90'}}</span>                    
                    </div>
                    <div>
                        <h3>Height Feet To Cm</h3>
                        <span class="text-black">{{historyData.vitals?.height ?? '177'}}</span>                    
                    </div>
                    <div>
                        <h3>Body Mass Index (BMI)</h3>
                        <span class="text-black">{{historyData.vitals?.bodyMassIndex ?? '26.9'}}</span>                    
                    </div>
                    <div>
                        <h3>Oxygen Saturation</h3>
                        <span class="text-black">{{historyData.vitals?.oxygenSaturation ?? '90'}}</span>                    
                    </div>
                    <div>
                        <h3>Body Surface Area (BSA)</h3>
                        <span class="text-black">{{historyData.vitals?.bodySurfaceArea ?? '765'}}</span>                    
                    </div>
                    <div>
                        <h3>Reason</h3>
                        <span class="text-black">{{historyData.vitals?.reason ?? 'High Cholestrol'}}</span>                    
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="w-2/3">
        <div>
            <div class="">
                <h2 class="text-center">Medications</h2>

            </div>
            <div *ngFor="let medication of medicationTableData">
                <div>
                    <h2>
                        {{medication.name ?? 'Medicine Name'}}
                    </h2>
                </div>
                <span> Take {{medication.dosage}}, {{medication.frequency}} for {{medication.duration}} by {{medication.route}}.</span>

\            </div>
        </div>
    </section>
</div>\
</ng-container> -->