
<div mat-dialog-title class="dialog-title">
    <div class="relative w-full flex justify-center pt-4">
        <mat-icon  mat-dialog-close class="close-icon absolute right-4 top-4" color="warn">close</mat-icon>
        <span>Add Patient</span>
    </div>
 </div>
<div mat-dialog-content class="matDialogContent">
    <p-tabView>
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <div class="input_Divs">
            <mat-label>MR#</mat-label>
            <div>
                <input class="form-control" pInputText type="number"  placeholder="MR#" formControlName="mrNum">
            </div>
        </div>
         <div class="input_Divs">
            <mat-label>Name<span class="text-danger">*</span></mat-label>
            <div>
                <input class="form-control" pInputText placeholder="Name" formControlName="name">
            </div>
        </div>
        <div class="input_Divs">
            <mat-label>Phone#<span class="text-danger">*</span></mat-label>
            <div class="inpt-phone">
                <input class="form-control inpt-Ph-rel" pInputText placeholder="Phone#" formControlName="phoneNum">
                    <span class="plus-sign">+</span>
                    <mat-select class="form-control inpt-Ph-rel"  placeholder="Select Relation" formControlName="relation">
                    <mat-option *ngFor="let relation of relations" [value]="relation.value">
                        {{relation.label}}
                    </mat-option>
                    </mat-select>
            </div>
        </div>
        <div class="input_Divs">

        </div>
        <div class="input_Divs">
            <mat-label>Gender</mat-label>
            <div class="inpt-phone">
                <mat-radio-group class="inpt-radio" aria-label="Select an option" formControlName="gender">
                    <mat-radio-button value="Male">Male</mat-radio-button>
                    <mat-radio-button value="Female">Female</mat-radio-button>
                    <mat-radio-button value="Other">Other</mat-radio-button>
                  </mat-radio-group>
            </div>
        </div>
        <div class="input_Divs">
            <mat-label>Age</mat-label>
            <div class="inpt-phone">
                <input class="form-control " pInputText placeholder="Years" #years (input)="concatDate(years.value)">
                <!-- <input class="form-control inpt-age" pInputText placeholder="Months" #months (input)="concatDate(years.value, months.value, days.value)"> -->
                <!-- <input class="form-control inpt-age" pInputText placeholder="Days" #days (input)="concatDate(years.value, months.value, days.value)"> -->
                <input hidden class="" formControlName="age">
            </div>
        </div>
        <div class="input_Divs">
            <mat-label>Registration Date</mat-label>
            <div class="date-div">
                <p-calendar formControlName="completionDate" appendTo="body" [showButtonBar]="true" [showIcon]="true" formControlName="registrationDate">
            </p-calendar>
                <!-- <input readonly class=" inpt-Date" matInput [matDatepicker]="picker" formControlName="registrationDate">
                <mat-datepicker-toggle class="datepickerIcon" matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> -->
            </div>
        </div>


        <div class="input_Divs">
            <mat-label>Add Photo</mat-label>
            <img *ngIf="base64ImagStr" [src]="base64ImagStr" style="height: 300px; width:300px;">
            <div class="d-flex justify-content-between">
                <input class="form-control form-control-sm inpt-Fieldcam" type="button" (click)="openCamera()" value="Take Picture" >
                <span class="slash">/</span>
                <input class="form-control form-control-sm inpt-FieldPic" type="file"   placeholder="Add Photo" (change)="getUploadImage($event)" multiple formControlName="addPhoto">
            </div>
        </div>
        <div class="patient-btn">
            <p-button type="submit">Add Patient +</p-button>
        </div>        
    </form>
    </p-tabView>
</div> 

