
<div class="dialog-title">
<div class="matDialogContent">
    <p-tabView>
    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <div class="input_Divs">
            <label>MR#<span class="text-danger">*</span></label>
            <div>
                <input class="form-control " [ngClass]="{'ng-invalid ng-dirty':mrNum.touched && mrNum.invalid}" pInputText type="number"  placeholder="MR#" formControlName="mrNum" required>
            </div>
        </div>
         <div class="input_Divs">
            <label>Name<span class="text-danger">*</span></label>
            <div>
                <input class="form-control" [ngClass]="{'ng-invalid ng-dirty': name.touched && name.invalid}" pInputText placeholder="Name" formControlName="name" required>
                <small class="text-danger" *ngIf="(name.touched && name.invalid)">Name is required.</small>
            </div>
        </div>
        <div class="input_Divs">
            <label>Phone#<span class="text-danger">*</span></label>
            <div class="inpt-phone items-start">
                <div class="flex flex-column">
                    <input type="text" class="form-control w-full p-1" [ngClass]="{ 'ng-invalid ng-dirty' :phoneNum.touched && phoneNum.invalid}" pInputText placeholder="3212345667" formControlName="phoneNum">
                    <small class="text-danger" *ngIf="(phoneNum.touched && phoneNum.invalid)">Phone# is required.</small>
                </div>
                <span class="plus-sign mx-1">+</span>
                <span class="p-float-label">
                    <p-dropdown
                    [ngClass]="{ 'ng-invalid ng-dirty': relation.touched && relation.invalid }"
                    placeholder="Select Relation"
                    formControlName="relation"
                    [options]="relations"
                    optionLabel="label"
                    optionValue="value"
                    inputId="float-label"
                  ></p-dropdown>     
                    <label for="float-label">Attendee</label>
                </span>
            </div>
        </div>
        <div class="input_Divs">

        </div>
        <div class="input_Divs">
            <label>Gender</label>
            <div class="inpt-phone items-center">
                  <div class="flex items-center gap-2">
                    <div class="flex items-center">
                        <p-radioButton name="gender" value="Male" formControlName="gender" inputId="male"></p-radioButton>
                        <label for="male" class="ml-2">Male</label>
                    </div>
                    
                    <div class="flex items-center">
                        <p-radioButton name="gender" value="Female" formControlName="gender" inputId="female"></p-radioButton>
                        <label for="Female" class="ml-2">Female</label>
                    </div>
                    
                    <div class="flex items-center">
                        <p-radioButton name="gender" value="Other" formControlName="gender" inputId="other"></p-radioButton>
                        <label for="other" class="ml-2">Other</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="input_Divs">
            <label>Age<span class="text-danger">*</span></label>
            <div class="inpt-phone items-center flex flex-column">
                <input type="number" class="form-control " formControlName="age" [ngClass]="{'ng-invalid ng-dirty': age.touched && age.invalid}" pInputText placeholder="Age" >
                <small class="text-danger" *ngIf="(age.touched && age.invalid)">Age is required.</small>
            </div>
        </div>
        <div class="input_Divs">
            <label>Registration Date<span class="text-danger">*</span></label>
            <div class="date-div">
                <p-calendar [minDate]="minDate" [ngClass]="{'ng-invalid ng-dirty': registrationDate.invalid && registrationDate.touched }" appendTo="body"  [showButtonBar]="true" [showIcon]="true" formControlName="registrationDate">
            </p-calendar>
            </div>
        </div>


        <div class="input_Divs">
            <label>Add Photo</label>
            <img *ngIf="base64ImagStr" [src]="base64ImagStr" style="height: 300px; width:300px;">
            <div class="d-flex justify-content-between">
                <input class="form-control form-control-sm inpt-Fieldcam" type="button" (click)="openCamera()" value="Take Picture" >
                <span class="slash">/</span>
                <input class="form-control form-control-sm inpt-FieldPic" type="file"   placeholder="Add Photo" (change)="getUploadImage($event)" multiple formControlName="addPhoto">
            </div>
        </div>
        <div class="patient-btn">
            <p-button type="submit" [disabled]="patientForm.invalid">Add Patient +</p-button>
        </div>        
    </form>
    </p-tabView>
</div> 

