    .close-button {
        cursor: pointer;
        top: 0;
        right: 0;
    }

    .search-icon{
        right: 10px;
        top: 3px;
        color: white;
        font-size: 30px;
        padding: 0 3px 0 0;
        background: #11438F;
        border-radius: 0px 10px 10px 0px;
        width: fit-content;
    }

    .search-field{
        width: 300px;
        border-radius: 20px;
        height: 30px;
        // border: 1px solid #cfcfcf ;
    }
    .pulse{
        height: 35px;
        width: 60%;
    }
    .appointmentField{
        column-gap: 20px;
        row-gap: 10px;
    }
    .description{
        width: 240px;
    }

    .total{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
        column-gap: 10px;
    }

    .amount{
        height: 57px;
    }