.tack-action-btn {
    color: #fff;
    background: #11438F;
    text-transform: capitalize;
}

.camera-options {
    display: flex;
    justify-content: space-between;
}

.cam-loading{
    margin-top: 131px;
    margin-left: 135px;
}
.webcam-wrapper{
    border-radius: 10%;
}