<div *ngIf="isCameraExist; else noCameraExist">
    <div style="text-align:center">
      <div class="btn-group">
      </div> <br />
      <webcam [height]="500" [width]="300" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        [switchCamera]="nextWebcamObservable"></webcam>
      <div class="camera-options">
        <button *ngIf="isCameraExist" (click)="takeSnapshot()" name="btn_submit" mat-button
          class='custom-btn btn-12 btn tack-action-btn'>
          <span>Take Picture</span> </button>
        <button (click)="close()" name="btn_submit" mat-button class='custom-btn btn-12 btn tack-action-btn'>
          <span>Cancel</span> </button>
      </div>
    </div>
    <div *ngIf="errors.length > 0">
      <h4>Error Messages:</h4>
      <ul *ngFor="let error of errors">
        <li>{{ error | json }}</li>
      </ul>
    </div>
  </div>
  
  <ng-template #noCameraExist>
    Camera device not available
  </ng-template>