
    <hr class="w-90 mb-2"  style="border: 1px solid #979797;">
<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="vitalForm">
        <div class="flex flex-col">
            <div class="grid grid-cols-3 gap-2">
                <div>
                    <label for="name"><small>Pulse heart rate (per mint)</small></label>
                    <input class="w-full border rounded" pInputText type="number" formControlName="pulseHeartRate" name=""
                        id="pulseHeartRate">
    
                </div>
                <div>
                    <label for="name"><small>Temperature °F</small></label>
                    <input class="w-full border rounded" pInputText type="number" name="" formControlName="temperature"
                        id="temperature">
                </div>
                <div>
                    <label for="name"><small>Blood pressure (mmHg)</small></label>
                    <input class="w-full border rounded" pInputText type="text" name="" formControlName="bloodPressure"
                        id="bloodPressure" >
                </div>
            </div>
            <div class="grid grid-cols-4 gap-2 mt-3">
                <div>
                    <label for="respiratoryRate"><small>Respiratory Rate (per mint)</small></label>
                    <input class="w-full border rounded" pInputText type="number" formControlName="respiratoryRate">
                
                </div>
                <div>
                    <label for="bloodSugar"><small>Blood Sugar (mg/dl)</small></label>
                    <input class="w-full border rounded" pInputText type="number" name="" formControlName="bloodSugar" >
                    
                </div>
                <div>
                    <label for="weight"><small>Weight (kg)</small></label>
                    <input class="w-full border rounded" pInputText type="number" name="" formControlName="weight" id="weight">
                    
                </div>
                <div>
                    <label for="height"><small>Height</small></label>
                    <div class="grid grid-cols-2 gap-1">
                        <input formControlName="feet" pInputText class="pulse" type="number" name="Feet" placeholder="Feet" (input)="calculateBmi()">
                        <input formControlName="inches" pInputText class="pulse" type="number" name="Inches" placeholder="Inches" (input)="calculateBmi()">
                    </div>
                    
                </div>
            </div>

            <div class="grid grid-cols-2 gap-2 mt-3">
                <div class="w-full">
                    <label for="bodyMassIndex"><small>Body Mass Index (BMI)</small></label>
                    <input class="w-full border rounded" pInputText type="number" formControlName="bodyMassIndex" >
                    
                </div>
                <div class="w-full">
                    <label for="oxygenSaturation"><small>Oxygen Saturation %</small></label>
                    <input class="w-full border rounded" pInputText type="number" name="" formControlName="oxygenSaturation">
                    
                </div>
            </div>
            <div class="mt-3" *ngIf="showReason">
                <label for="reason"><small>Reason</small></label>
                <input class="w-full border rounded" pInputText type="text" name="" formControlName="reason"
                    id="reason" >
            </div>

        </div>


    </form>
</div>

<hr>