<p-table
    #dt
  [value]="data"
  [totalRecords]="totalRecords"
  [rows]="10"
  [paginator]="showPaginator"
  [loading]="loading"
  [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [showCurrentPageReport]="true"
  [globalFilterFields]="filterColumns"
  (onPage)="pageChange($event)"
  (onSort)="sort($event)"
  (onFilter)="filter($event)"
  (onLazyLoad)="lazyload($event)" 
  (onRowReorder)="onRowReorder($event)" 
>
  <!-- <ng-template  pTemplate="caption">
    <div class="flex">
      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt)"></button>
      <span class="p-input-icon-left ml-auto">
        <i class="pi pi-search"></i>
        <input pInputText type="text" #search (input)="dt.filterGlobal(search.value, 'contains')" placeholder="Search keyword" />
      </span>
    </div>
  </ng-template> -->
  <ng-template pTemplate="header">
    <tr>
      <ng-container *ngFor="let column of columns">
        <th  *ngIf="column.sortable" style="min-width:15rem"  [pSortableColumn]="column.property">
          <div class="flex align-items-center">
            {{ column.name }}<p-sortIcon [field]="column.property"></p-sortIcon>
            <p-columnFilter
              *ngIf="column.filter"
              [type]="column.filterType || 'text'"
              [field]="column.property"
              display="menu"
              (filterFunction)="filterFunction($event)"
            ></p-columnFilter>
          </div>
        </th>
        <th  *ngIf="!column.sortable" style="min-width:15rem"  >
          <div class="flex align-items-center">
            {{ column.name }}
            <p-columnFilter
              *ngIf="column.filter"
              [type]="column.filterType || 'text'"
              [field]="column.property"
              display="menu"
              (filterFunction)="filterFunction($event)"
            ></p-columnFilter>
          </div>
        </th>
        
      </ng-container>
      <th  style="min-width:15rem" *ngIf="showActions">
        <div class="flex align-items-center">Actions</div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    <tr>
      <ng-container *ngFor="let column of columns">
        <ng-container *ngIf="clickableRow; else notClickable">
          <td (click)="rowClickAction(rowData)">
            {{column.columnType !== 'innerHtml' ? resolveField(rowData, column): ''}}
            <div *ngIf="column.columnType === 'innerHtml'" [innerHTML]="resolveField(rowData, column)"></div>
          </td>

        </ng-container>
        <ng-template #notClickable>
          <td >
            {{column.columnType !== 'innerHtml' ? resolveField(rowData, column): ''}}
            <div *ngIf="column.columnType === 'innerHtml'" [innerHTML]="resolveField(rowData, column)"></div>
          </td>

        </ng-template>

      </ng-container>
      <td *ngIf="showActions">
        <div class="flex flex-row">
            <i class="pi pi-trash btn btn-danger m-1" *ngIf="actionsToShow.includes('delete')" pTooltip="Delete Record" (click)="actionEmitter(rowData, 'delete')"></i>
            <i class="pi pi-pencil btn btn-success m-1" *ngIf="actionsToShow.includes('edit')" pTooltip="Edit Record" (click)="actionEmitter(rowData, 'edit')"></i>
            <ng-container *ngFor="let action of additionalActions">
              <p-button class="m-1" [style]="action.style" [pTooltip]="action.toolTip ? action.toolTip : ''" (click)="action.action(rowData)" [label]="action.name ?? ''" [icon]="action.icon ?? ''">
                <i *ngIf="action.icon" [class]="action.icon"  ></i>
                {{action.icon && action.name ? action.name : ''}}
              </p-button>

            </ng-container>
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td [attr.colspan]="columns.length">No records found.</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div class="flex align-items-center justify-content-between">
        Total {{totalRecords }} records.
    </div>
  </ng-template>
</p-table>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>