<div>
    <h1>Medicine Purchase Invoice</h1>
    <div class="flex justify-between">

        <div>Vendor</div>
        <div> {{billDate | date: 'EEE MMM, dd/yyyy'}}</div>

    </div>
    <app-generic-table [columns]="tableColumns" [data]="medicines" [showActions]="false" [showPaginator]="false"></app-generic-table>
    <div class="">
        <div><span>Items#:</span> <span>{{medicines.length}}</span></div>
        <div><span>Total Discount:</span> <span>{{medicinePurchaseInvoice?.discountAmount}}</span>  </div>
        <div><span>Net Total:</span> <span>{{medicinePurchaseInvoice?.totalAmount }}</span></div>
    </div>
</div>