<div>
    <h1>Medicine Sale Invoice</h1>
    <div class="flex justify-between">
        <div>Customer Name</div>
        <div> {{billDate | date: 'EEE MMM, dd/yyyy'}}</div>
    </div>

    <app-generic-table [columns]="tableColumns" [data]="medicines" [showActions]="false" [showPaginator]="false"></app-generic-table>
    <div class="flex flex-end" >
        <ng-container *ngIf="medicineSaleinvoice && medicineSaleinvoice.totalAmount && medicineSaleinvoice.discountAmount">
            <div><span>Items#:</span> <span>{{medicines.length}}</span></div>
            <div><span>Total Discount:</span> <span>{{medicineSaleinvoice.discountAmount}}</span>  </div>
            <div><span>Gross Total:</span> <span>{{medicineSaleinvoice.totalAmount}}</span></div>
            <div><span>Net Total:</span> <span>{{medicineSaleinvoice.totalAmount - medicineSaleinvoice.discountAmount}}</span></div>
        </ng-container>
    </div>
</div>