<div class="mt-4 justify-content-evenly d-flex">

  <mat-card class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Total Appointments</p>
      <div class="d-flex justify-content-between align-items-center"> <span class="file-icon text-font">17</span><i
          class="fa-solid fa-file-waveform d-flex align-items-end file-icon"></i></div>
    </div>
  </mat-card>
  <mat-card class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Registered Patients</p>
      <div class="d-flex justify-content-between align-items-center"><span class="wheelchair-icon text-font">56</span><i
          class="fa-solid fa-wheelchair d-flex align-items-end wheelchair-icon"></i></div>
    </div>
  </mat-card>
  <mat-card class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Patients Visited Today</p>
      <div class="d-flex justify-content-between align-items-center"> <span class="truck-icon text-font">1</span><i
          class="fa-solid fa-truck-medical d-flex align-items-end truck-icon"></i></div>
    </div>
  </mat-card>
  <mat-card class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Total Users</p>
      <div class="d-flex justify-content-between align-items-center"> <span class="group-icon text-font">10</span><i
          class="fa-sharp fa-solid fa-people-line d-flex align-items-end group-icon"></i></div>
    </div>
  </mat-card>
</div>

<div class="mt-4 mx-5 d-flex justify-content-between align-items-center">
  <button class="navButton btn btn-primary" (click)="addToken()">Add Token</button>
  <div class="d-flex">
    <span style="margin-right: 15px; margin-top: 15px;">Patient Visits</span>

    <mat-form-field>
      <mat-select name="filterString" [(value)]="selectedFilter">
        <mat-option *ngFor="let item of filter" [value]="selectedFilter">{{item.label}}</mat-option>
        <!-- <mat-option >United States</mat-option>
      <mat-option >Canada</mat-option> -->
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div echarts [options]="chartOption" class=""></div>

<div class="mt-4">
  <h4><b>Appointments Today</b></h4>
  <!-- <table mat-table [dataSource]="appointmentsData" class="mat-elevation-z8 w-100">
      
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Patien Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Appointment Time </th>
          <td mat-cell *matCellDef="let element"> {{element.time}} </td>
        </ng-container>
      
        <ng-container matColumnDef="doctor">
          <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
          <td mat-cell *matCellDef="let element"> {{element.doctor}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table> -->
  <app-generic-table [data]="appointmentsData" [columns]="displayedAppointmentColumns" 
    [totalRecords]="appointmentsTotalRecords"></app-generic-table>


</div>






<div class="mt-4">
  <h4><b>Messages</b></h4>
  <!-- <table mat-table [dataSource]="messagesData" class="mat-elevation-z8 w-100">
      
        <ng-container matColumnDef="sendAt">
          <th mat-header-cell *matHeaderCellDef> Send At </th>
          <td mat-cell *matCellDef="let element"> {{element.sendAt}} </td>
        </ng-container>
      
        <ng-container matColumnDef="message">
          <th mat-header-cell *matHeaderCellDef> Message </th>
          <td mat-cell *matCellDef="let element"> {{element.message}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedMessageColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedMessageColumns;"></tr>
      </table> -->

  <app-generic-table [data]="messagesData" [columns]="displayedMessageColumns"
    [totalRecords]="messageTotalRecords"></app-generic-table>



</div>




<div class="mt-4">
  <h4><b>Tokens Today</b></h4>
  <!-- <table mat-table [dataSource]="tokensData" class="mat-elevation-z8 w-100">
      
        <ng-container matColumnDef="token">
          <th mat-header-cell *matHeaderCellDef> Token# </th>
          <td mat-cell *matCellDef="let element"> {{element.token}} </td>
        </ng-container>
      
        <ng-container matColumnDef="patient">
          <th mat-header-cell *matHeaderCellDef> Patient Name </th>
          <td mat-cell *matCellDef="let element"> {{element.patient}} </td>
        </ng-container>

              <ng-container matColumnDef="doctor">
                <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
                <td mat-cell *matCellDef="let element"> {{element.doctor}} </td>
              </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedTokensColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedTokensColumns"></tr>
      </table> -->


  <app-generic-table [data]="tokensData" [columns]="displayedTokensColumns"
    [totalRecords]="tokneTotalRecords"></app-generic-table>


</div>
<div class="mt-4">
  <h4><b>Tokens Viewed Today</b></h4>
  <!-- <table mat-table [dataSource]="tokensData" class="mat-elevation-z8 w-100">
      
        <ng-container matColumnDef="token">
          <th mat-header-cell *matHeaderCellDef> Token# </th>
          <td mat-cell *matCellDef="let element"> {{element.token}} </td>
        </ng-container>
      
        <ng-container matColumnDef="patient">
          <th mat-header-cell *matHeaderCellDef> Patient Name </th>
          <td mat-cell *matCellDef="let element"> {{element.patient}} </td>
        </ng-container>

              <ng-container matColumnDef="doctor">
                <th mat-header-cell *matHeaderCellDef> Doctor Name </th>
                <td mat-cell *matCellDef="let element"> {{element.doctor}} </td>
              </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedTokensColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedTokensColumns"></tr>
      </table> -->


  <app-generic-table [data]="tokensData" [columns]="displayedTokensColumns"
    [totalRecords]="tokneTotalRecords"></app-generic-table>


</div>