<div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">

  <div class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Total Appointments</p>
      <div class="d-flex justify-content-between align-items-center"> <span class="file-icon text-font">17</span><i
          class="fa-solid fa-file-waveform d-flex align-items-end file-icon"></i></div>
    </div>
  </div>
  <div class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Registered Patients</p>
      <div class="d-flex justify-content-between align-items-center"><span class="wheelchair-icon text-font">{{numberOfpatients}}</span><i
          class="fa-solid fa-wheelchair d-flex align-items-end wheelchair-icon"></i></div>
    </div>
  </div>
  <div class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Patients Visited Today</p>
      <div class="d-flex justify-content-between align-items-center"> <span class="truck-icon text-font">{{newTokens.length + viewdTokens.length}}</span><i
          class="fa-solid fa-truck-medical d-flex align-items-end truck-icon"></i></div>
    </div>
  </div>
  <div class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Total Users</p>
      <div class="d-flex justify-content-between align-items-center"> <span class="group-icon text-font">{{numberOfRegisteredUsers}}</span><i
          class="fa-sharp fa-solid fa-people-line d-flex align-items-end group-icon"></i></div>
    </div>
  </div>
</div>

<div class="mt-4 mx-5 d-flex justify-content-between align-items-center">
  <!-- <p-button class="navButton" (click)="addToken()">Add Token</p-button> -->
  <div class="d-flex">
    <span style="margin-right: 15px; margin-top: 15px;">Patient Visits</span>
    <div class="flex flex-row gap-2">
      <p-dropdown [options]="filter" [(ngModel)]="selectedFilter" [optionValue]="'id'" (onChange)="graphPeriodChange($event)" [optionLabel]="'label'" name="filterString" placeholder="Select an option"></p-dropdown>
      
      <p-calendar *ngIf="selectedFilter === 'custom'" [(ngModel)]="rangeDates" selectionMode="range" (ngModelChange)="customRangeSelection($event)"></p-calendar>
    </div>
  </div>
</div>
<div echarts [options]="chartOption" class=""></div>
  <div class="flex flex-row justify-between" *ngIf="userIsDoctor">
    <div class="w-1/2 shadow-lg pt-2 pl-1  rounded overflow-y-auto ml-3" style="height: 40vh">
      <div class="grid grid-cols-4  font-bold">
        <span>Token#</span>
        <span>Patient Info</span>
        <span>Doctor</span>
        <span>Viewed</span>
      </div>
      <div class="grid grid-cols-4 p-1 m-1 rounded cursor-pointer" *ngFor="let token of allTokens"  [ngClass]="token.isViewed ? 'bg-emerald-300':'bg-cyan-300'" (click)="rowClick(token)">
        <span>{{token.tokenNo}}</span>
        <span>{{token.patientName}}</span>
        <span>{{token.doctorName}}</span>
        <span>{{token.isViewed ? 'Yes' : 'No' }}</span>
      </div>
    </div>
  </div>
<div class="mt-4" *ngIf="userIsDoctor">
  <h2 class="text-center">Appointments Today</h2>
  <app-generic-table [data]="appointmentsData" [columns]="displayedAppointmentColumns" 
    [totalRecords]="appointmentsTotalRecords" [showPaginator]="false"></app-generic-table>
</div>

<div class="mt-4 text-center"  *ngIf="false">
  <h2>Messages</h2>
  <app-generic-table [data]="messagesData" [columns]="displayedMessageColumns"
    [totalRecords]="messageTotalRecords" [showPaginator]="false"></app-generic-table>
</div>



