<div class="mt-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">

  <mat-card class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Total Appointments</p>
      <div class="d-flex justify-content-between align-items-center"> <span class="file-icon text-font">17</span><i
          class="fa-solid fa-file-waveform d-flex align-items-end file-icon"></i></div>
    </div>
  </mat-card>
  <mat-card class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Registered Patients</p>
      <div class="d-flex justify-content-between align-items-center"><span class="wheelchair-icon text-font">{{numberOfpatients}}</span><i
          class="fa-solid fa-wheelchair d-flex align-items-end wheelchair-icon"></i></div>
    </div>
  </mat-card>
  <mat-card class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Patients Visited Today</p>
      <div class="d-flex justify-content-between align-items-center"> <span class="truck-icon text-font">{{newTokens.length + viewdTokens.length}}</span><i
          class="fa-solid fa-truck-medical d-flex align-items-end truck-icon"></i></div>
    </div>
  </mat-card>
  <mat-card class="dashboard_card ">
    <div class="px-3 mt-3 mb-3">
      <p>Total Users</p>
      <div class="d-flex justify-content-between align-items-center"> <span class="group-icon text-font">{{numberOfRegisteredUsers}}</span><i
          class="fa-sharp fa-solid fa-people-line d-flex align-items-end group-icon"></i></div>
    </div>
  </mat-card>
</div>

<div class="mt-4 mx-5 d-flex justify-content-between align-items-center">
  <!-- <p-button class="navButton" (click)="addToken()">Add Token</p-button> -->
  <div class="d-flex">
    <span style="margin-right: 15px; margin-top: 15px;">Patient Visits</span>

    <mat-form-field>
      <mat-select name="filterString" [(value)]="selectedFilter">
        <mat-option *ngFor="let item of filter" [value]="selectedFilter">{{item.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div echarts [options]="chartOption" class=""></div>

  <div class=" mt-4 text-center">
    <h2>Tokens Today</h2>
    <app-generic-table [data]="newTokens" [columns]="displayedTokensColumns" [clickableRow]="true" [rowClickAction]="roClickAction"
      [totalRecords]="tokneTotalRecords" [showPaginator]="false"></app-generic-table>  
  </div>
  <div class=" mt-4 text-center">
    <h2>Tokens Viewed Today</h2>
    <app-generic-table [data]="viewdTokens" [columns]="displayedTokensColumns" [clickableRow]="true" [rowClickAction]="roClickAction"
      [totalRecords]="tokneTotalRecords" [showPaginator]="false"></app-generic-table>
  </div>
<div class="mt-4">
  <h2 class="text-center">Appointments Today</h2>
  <app-generic-table [data]="appointmentsData" [columns]="displayedAppointmentColumns" 
    [totalRecords]="appointmentsTotalRecords" [showPaginator]="false"></app-generic-table>
</div>






<div class="mt-4 text-center">
  <h2>Messages</h2>
  <app-generic-table [data]="messagesData" [columns]="displayedMessageColumns"
    [totalRecords]="messageTotalRecords" [showPaginator]="false"></app-generic-table>
</div>



