.navbar{
    position: fixed;
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0px 10px !important;
    z-index: 999;
    box-shadow: 0px 1px 1px 0px #bfb9b9;
}
.Title{
    font-size: 50px;
    color: #acb0bd;
    
}
.navButton{
    background-color: #fff;
    border: #fff;
    color: black;
    border-radius: 0px;
    height: 56px;
    padding: 17px 6px;
    text-align: center;
    white-space: nowrap;
}

    .menu-active{
        color: #11438F;
        border-bottom: 2px solid #11438F;
    }
.outlet{
    padding-top: 56px;
}
.arrow-height{
    height: 17px;
}
.menu-items-width{
    max-width: 35%;
}
.notification-icon,
.blub-icon{
    margin-left: 20px;
}
.search-Field{
    margin-left: 20px;
    .search-icon{
        top: 22%;
        left: 5%;
        color: #11438F;
    }
    .search-input{
        height: 40px;
        width: 250px;
        border-radius: 4px;
        outline: none;
        &::placeholder{
            padding-left: 40px;
        }
    }
}
.span-elpis{
    max-width: 40px;
    width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
}
.creat-drop{
    background-color: #11438F; 
    max-height: 40px;
    padding: 8px 25px;
    border-radius: 4px;
    padding: 8px 15px;
}

@media only screen and (max-width: 1200px) {
    .navbar {
      display: flex;
      flex-wrap: wrap;
      height: fit-content;
    }
  }