@import 'src/variable.scss';

.navbar{
    position: fixed;
    height: 56px;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 150px calc(100% - 200px);
    gap: 50px;
    background-color: #fff;
    padding: 0px 10px !important;
    z-index: 999;
    box-shadow: 0 0 5px rgba(23, 23, 32, 0.1), 0 0 15px rgba(23, 23, 32, 0.1);
}
.Title{
    font-size: 50px;
    color: #acb0bd;
    
}

.navButton{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 16px;
    height: 56px;
}

    .menu-active{
        color: $bluetheme-Txt;
        border-bottom: 2px solid $bluetheme-Border;
    }
.outlet{
    padding-top: 56px;
}
// .arrow-height{
//     height: 17px;
// }
.menu-items-width{
    max-width: 35%;
}
.notification-icon,
.blub-icon{
    margin-left: 20px;
}
.search-Field{
    margin-left: 20px;
    border-radius: 4px;
    border: 1px solid $blue-theme;
    .search-icon{
        top: 22%;
        left: 5%;
        color: $blue-theme;
    }
    .search-input{
        height: 40px;
        width: 250px;
        outline: none;
        padding-left: 40px;
        border-radius: 4px;
    }
}
.user-name{
    padding: 7px;
    border-radius: 50%;
    background: $blue-theme;
    color: rgb(255,255,255);
    font-weight: 600;
}
.span-elpis{
    max-width: 40px;
    width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
}
.creat-drop{
    background-color: $green-theme; 
    border-radius: 4px;
    padding: 9px 15px;
    display: flex;
    align-items: center;
}
.toggle-btn{
    display: none;
}
@media only screen and (max-width: 1200px) {
    .navbar {
      display: flex;
      flex-wrap: wrap;
      height: fit-content;
    }
    .toggle-btn{
        display: block;
    }
  }

.fixed-navbar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 250px;
    background-color: white;
}
.hide-navbar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -250px;
    max-width: 250px;
    background-color: white;
}