<nav class="p-0">
  <div class="navbar p-0">
    <span class="Title">HSMS</span>
    <div class=" menu-items-width d-flex justify-content-between align-items-center ">
      <!-- <a class="navButton btn btn-primary" [ngClass]="{'menu-active': step==='step1'}" (click)="step='step1'" routerLink="/home">Dashboards</a>
      <a class="navButton btn btn-primary" [ngClass]="{'menu-active': step==='step2'}" (click)="step='step2'" routerLink="/register">Health Records</a>
      <a class="navButton btn btn-primary" [ngClass]="{'menu-active': step==='step3'}" (click)="step='step3'" routerLink="/register">Laboratory</a>
      <a class="navButton btn btn-primary" [ngClass]="{'menu-active': step==='step4'}" (click)="step='step4'" routerLink="/register">Messages</a> -->
      <a class="navButton btn btn-primary" routerLink="/dashboard">Dashboard</a>
      <a class="navButton btn btn-primary" routerLink="/register">Health Records</a>
      <a class="navButton btn btn-primary" routerLink="/register">Laboratory</a>
      <a class="navButton btn btn-primary" routerLink="/register">Messages</a>
      <a class="navButton btn btn-primary" [matMenuTriggerFor]="more">More<mat-icon class="arrow-height">arrow_drop_down</mat-icon></a>
        <mat-menu #more="matMenu">
          <a mat-menu-item>Item 1</a>
          <a mat-menu-item>Item 2</a>
        </mat-menu>       
      </div>
      <div class="d-flex align-items-center">
        <a class="navButton btn btn-primary creat-drop text-white" [matMenuTriggerFor]="creat">Creat<mat-icon class="arrow-height">arrow_drop_down</mat-icon></a>
        <mat-menu #creat="matMenu">
          <a mat-menu-item (click)="addPatient()">Patient</a>
          <a mat-menu-item>Invoice</a>
          <a mat-menu-item>Health Record</a>
        </mat-menu> 
        <div class="search-Field d-flex position-relative">
          <mat-icon class="position-absolute search-icon">search</mat-icon> 
          <input class="search-input" placeholder="Search">
        </div>
        <a class="navButton btn btn-primary blub-icon"><mat-icon >lightbulb_on</mat-icon></a>
        <a class="navButton btn btn-primary notification-icon"><mat-icon style="rotate: 45deg;">notifications</mat-icon></a>
        <a class="navButton btn btn-primary " [matMenuTriggerFor]="User"><span class="span-elpis">User Name</span><mat-icon class="arrow-height">arrow_drop_down</mat-icon></a>
        <mat-menu #User="matMenu">
          <a mat-menu-item>Option 1</a>
          <a mat-menu-item>Option 2</a>
          <a mat-menu-item>Option 3</a>
        </mat-menu>
        <div *ngFor="let h of [1,2,3]">{{h}}</div>
        <!-- <div>
          <button class="navButton btn btn-primary" routerLink="/home">Home</button>
          <button class="navButton btn btn-primary" routerLink="/sign-up">Register</button>
        </div> -->
      </div>
  </div>
</nav>
<div  class="outlet">
  <router-outlet></router-outlet>
</div>

