@import 'src/variable.scss';

.navbar{
    position: fixed;
    height: 56px;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 150px calc(100% - 200px);
    gap: 50px;
    background-color: #fff;
    padding: 0px 10px !important;
    z-index: 999;
    box-shadow: 0 0 5px rgba(23, 23, 32, 0.1), 0 0 15px rgba(23, 23, 32, 0.1);
    .Title{
        font-size: 50px;
        color: #acb0bd;   
    }
    @media screen and (max-width:1024px) {
        grid-template-columns: 115px calc(100% - 135px);
        gap: 20px;
        .Title{
            font-size: 40px;
        }
    }
    @media screen and (max-width:768px) {
        padding: 16px !important;
        display: flex;
    }
}


.navButton{
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 16px;
    height: 56px;
}

    .menu-active{
        color: $bluetheme-Txt;
        border-bottom: 2px solid $bluetheme-Border;
    }
.outlet{
    padding-top: 56px;
}
// .arrow-height{
//     height: 17px;
// }
.menu-items-width{
    max-width: 35%;
}
.notification-icon,
.blub-icon{
    margin-left: 20px;
}

.user-name{
    padding: 7px;
    border-radius: 50%;
    background: $blue-theme;
    color: rgb(255,255,255);
    font-weight: 600;
}
.span-elpis{
    max-width: 40px;
    width: fit-content;
    text-overflow: ellipsis;
    overflow: hidden;
}
.creat-drop{
    background-color: $green-theme; 
    border-radius: 4px;
    padding: 7px 10px;
    display: flex;
    align-items: center;
}
.toggle-btn{
    display: none;
}
@media only screen and (max-width: 768px) {
    .navbar {
      display: flex;
      flex-wrap: nowrap;
      height: fit-content;
    }
    .toggle-btn{
        display: block;
    }
  }

.fixed-navbar{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 250px;
    background-color: white;
    transition: 1s;
    box-shadow: 0 0 5px rgba(23, 23, 32, 0.1), 0 0 15px rgba(23, 23, 32, 0.1);
}
.hide-navbar{
    right: -250px;
}

.search-icon{
    display: flex;
    height: auto;
    @media screen and (min-width:768px) {
        display: none;
    }
}

.mobile-search-bar{
    width: calc(100% - 35px);
    @media screen and (min-width:768px) {
        display: none;
    }
}