<p-toast></p-toast>
<nav class="p-0" [ngClass]="">
  <div class="navbar" *ngIf="showNav">
    <div class="Title">HSMS</div>
    <div class="hidden lg:flex items-center justify-between gap-x-6 xl:gap-x-20">
      <div class=" menu-items-width d-flex justify-content-between align-items-center ">
        <a class="navButton md:px-2 xl:px-8 cursor-pointer" *ngIf="isDoctor || isAdmin" routerLink="/dashboard"
          [routerLinkActive]="['menu-active']">Dashboard</a>
        <a class="navButton md:px-2 xl:px-8 cursor-pointer" *ngIf="isDoctor || isAdmin" routerLink="doctor/health_records"
          [routerLinkActive]="['menu-active']">Health Records</a>
        <a class="navButton md:px-2 xl:px-8 cursor-pointer" *ngIf="isLabTechnician || isAdmin" (click)="laboratory.toggle($event)">Laboratory <i class="fa-solid fa-caret-down ml-2"></i></a>
        <p-menu #laboratory [model]="laboratoryMenuItems" [popup]="true" appendTo="body">
          <ng-template pTemplate="item" let-item>
            <a routerLink="{{item.routerLink}}" class="whitespace-nowrap">{{ item.label }}</a>
          </ng-template>
        </p-menu>

        <p-menu #menu [model]="items" [popup]="true" appendTo="body"></p-menu>
        <a class="creat-drop cursor-pointer text-white" *ngIf="isDoctor || isAdmin" (click)="menu.toggle($event)">Pharmacy <i class="fa-solid fa-caret-down ml-2"></i></a>
      </div>
      <div class="hidden md:flex align-items-center">
        <a class="creat-drop cursor-pointer text-white" *ngIf="isDoctor || isAdmin" (click)="create.toggle($event)">Create <i class="fa-solid fa-caret-down ml-2"></i></a>
        <p-menu #create [model]="createMenuItems" [popup]="true" appendTo="body">
        </p-menu>
        <app-global-search></app-global-search>
        <a class="navButton cursor-pointer" (click)="logoutmenu.toggle($event)"><span
            class="span-elpis user-name">{{logedInUser.firstName.substring(0, 1).toUpperCase() +
            logedInUser.lastName.substring(0, 1).toUpperCase()}}</span><i class="fa-solid fa-caret-down ml-2"></i></a>
        <p-menu #logoutmenu [model]="navItemToShow" [popup]="true"></p-menu>
        <!-- <div *ngFor="let h of [1,2,3]">{{h}}</div> -->
        <!-- <div>
          <button class="navButton" routerLink="/home">Home</button>
          <button class="navButton" routerLink="/sign-up">Register</button>
        </div> -->
      </div>
    </div>
    <div class="flex lg:hidden">
      <i class="fa-solid fa-magnifying-glass text-xl mr-4 flex md:hidden" (click)="mobileSerchBar = !mobileSerchBar"></i>
      <div *ngIf="mobileSerchBar" [ngClass]="mobileSerchBar === true ? 'fixed left-0 right-10 mobile-search-bar':''">
        <app-global-search [mobileSerchBarData]="mobileSerchBar" (mobileSerchBar)="mobileSerchBar = !mobileSerchBar"></app-global-search>
      </div>
      <div class="hidden md:block">
        <app-global-search></app-global-search>
      </div>
      <div class="toggle-btn md:ml-4" (click)="navbarToggle()">
          <i class="fa fa-solid fa-bars text-3xl"></i>
        </div>
    </div>
      <div class="fixed-navbar" [ngClass]="navbarShowHide ? '':'hide-navbar'">
        <div class="toggle-btn pl-4 pt-3" (click)="navbarToggle()">
          <i class="fa fa-solid fa-bars text-3xl"></i>
        </div>
        <div class="w-full px-4 pb-4">
          <a class="navButton mt-3 cursor-pointer" routerLink="/dashboard"
            [routerLinkActive]="['menu-active']">Dashboard</a>
          <a class="navButton mt-3 cursor-pointer" routerLink="doctor/health_records"
            [routerLinkActive]="['menu-active']">Health Records</a>
          <a class="navButton mt-3 cursor-pointer" *ngIf="isLabTechnician || isAdmin" (click)="laboratory.toggle($event)">Laboratory<i class="fa-solid fa-caret-down ml-2"></i></a>
          <p-menu #laboratory [model]="laboratoryMenuItems" [popup]="true" appendTo="body">
            <ng-template pTemplate="item" let-item>
              <a routerLink="{{item.routerLink}}" class="whitespace-nowrap">{{ item.label }}</a>
            </ng-template>
          </p-menu>
          <p-menu #menu [model]="items" [popup]="true"></p-menu>
          <a class="creat-drop cursor-pointer text-white mt-3 justify-center" *ngIf="isDoctor || isAdmin" (click)="menu.toggle($event)">Pharmacy<i class="fa-solid fa-caret-down ml-2"></i></a>

            <a class="creat-drop cursor-pointer mt-3 text-white justify-center" (click)="create.toggle($event)">Create<i class="fa-solid fa-caret-down ml-2"></i></a>
            <p-menu #create [model]="createMenuItems" [popup]="true" appendTo="body">
            </p-menu>
        </div>
      </div>
  </div>
</nav>
<div class="outlet">
  <router-outlet></router-outlet>
</div>
<app-loader></app-loader>