<div class="flex m-3" *ngIf="!tokenId">
  <div class=" flex flex-col p-1  justify-content-between justify-items-center position-relative">
    <label for="patient">Patient</label>
    <p-autoComplete #autoComplete [suggestions]="( !autoComplete || autoComplete.inputValue === '' ? patients: patientsToShow)" (completeMethod)="searchPatient(autoComplete)" (onSelect)="patientSelect(autoComplete.value.id)" field="name" [showEmptyMessage]="true"></p-autoComplete>
    <p-button [label]="'Print History'" (onClick)="openHistoryView()"></p-button>
  </div>
  <div class="flex flex-col p-1 w-40">
    <label for="visit">Visit</label>
    <select class="rounded border-solid border-2 h-10  flex flex-col md:flex-row justify-content-between justify-items-center position-relative" name="" id="visit" #patientHistory
      (change)="selectPatientHistoryVisit(patientHistory.value)" [disabled]="!patientHistoryVisits">
      <option [value]="null" [defaultSelected]="true" disabled>Select a history visit</option>
      <option *ngFor="let visit of patientHistoryVisits" [value]="visit.id">{{visit.createdAt | date: 'EEE MMM, dd/yyyy'}}</option>
    </select>
  </div>
</div>
<div class="patient-page"> 
  <div class="flex justify-between">
    <h1 class="first-title">Current Appointment</h1>
  </div>
  <div class="grid grid-cols-1 xl:grid-cols-3 xl:gap-x-4 gap-y-4 justify-between" *ngIf="patient && token">
    <section class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-1 xl:order-2 gap-x-3 gap-y-3 justify-between">
      <div class="d-flex flex-column bg-white align-items-center p-3 rounded-3">
        <img src="https://static.vecteezy.com/system/resources/previews/005/544/718/original/profile-icon-design-free-vector.jpg" alt="Profile Picture"
          class="profile-picture rounded-5 bg-dark">
        <div class="profile-details">
          <h1 class="profile-name my-2">{{patient.name}}</h1>
          <p class="profile-info"><b>{{getGender(patient.gender)}}:</b> {{patient.age.split('-').at(0)}}</p>
          <p class="profile-location my-2">{{''}}</p>
        </div>
        <button class="btn btn-success">Update</button>
      </div>
      <div class="col-span-2">
        <p-panel header="Summary" [toggleable]="true" aria-expanded="false">
          <div class="medical-info d-flex flex-column bg-white align-items-center">
            <h2 class="section-title">Vitals</h2>
            <div class="history-item-div"><span class="patient-info-labels"><i
                  class="fa-solid w-5 fa-heart-pulse mr-3"></i>Pulse Heart
                Rate:</span><span>{{token.tokenDetail?.pulseHeartRate ?? 'N/A'}}</span></div>
            <div class="history-item-div"><span class="patient-info-labels"><i
                  class="fa fas w-5 fa-regular fa-temperature-high mr-3"></i>Temprature:</span><span>{{token.tokenDetail?.temperature
                ?? 'N/A'}}</span></div>
            <div class="history-item-div"><span class="patient-info-labels"><i
                  class="fa-solid w-5 fa-light fa-ruler-vertical mr-3"></i>height:</span><span>{{token.tokenDetail?.height
                ?? 'N/A'}}</span></div>
            <div class="history-item-div"><span class="patient-info-labels"><i
                  class="fa-solid w-5 fa-weight-scale mr-3"></i>Weight (in kg e.g:
                70):</span><span>{{token.tokenDetail?.weight ?? 'N/A'}}</span></div>
            <div class="history-item-div"><span class="patient-info-labels"><i
                  class="fa-solid w-5 fa-child mr-3"></i>Body Mass Index
                (BMI):</span><span>{{token.tokenDetail?.bodyMassIndex ?? 'N/A'}}</span></div>
            <div class="history-item-div"><span class="patient-info-labels"><i
                  class="fa-solid w-5 fa-heart mr-3"></i>Blood Pressure:</span><span>{{token.tokenDetail?.bloodPressure
                ?? 'N/A'}}</span></div>
            <div class="history-item-div"><span class="patient-info-labels"><i
                  class="fa-solid w-5 fa-lungs mr-3"></i>Oxygen
                Saturation:</span><span>{{token.tokenDetail?.oxygenSaturation ?? 'N/A'}}</span></div>
            <div class="history-item-div"><span class="patient-info-labels"><i
                  class="fa-solid w-5 fa-lungs mr-3"></i>Respiratory
                Rate:</span><span>{{token.tokenDetail?.respiratoryRate ?? 'N/A'}}</span></div>
            <div class="history-item-div"><span class="patient-info-labels"><i
                  class="fa-solid w-5 fa-lungs mr-3"></i>Blood Sugar:</span><span>{{token.tokenDetail?.bloodSugar ??
                'N/A'}}</span></div>
          </div>
        </p-panel>
      </div>
    </section>
    <section class="d-flex flex-column col-span-2 xl:order-1">
      <div class=" flex-column bg-white align-items-center p-3 rounded-3">
        <div>
          <p-tabView>
            <p-tabPanel header="Prescription">
              <app-prescription [token]="token" [historyTokenId]="historyTokenId"></app-prescription>
            </p-tabPanel>
            <p-tabPanel header="Vitals">
              <app-vitals [token]="token" [historyTokenId]="historyTokenId"></app-vitals>
            </p-tabPanel>
            <p-tabPanel header="Medication">
              <app-medication [token]="token" [historyTokenId]="historyTokenId"></app-medication>
            </p-tabPanel>
            <p-tabPanel header="Lab Order">
              <app-lab-order [token]="token"></app-lab-order>
            </p-tabPanel>
            <p-tabPanel header="Radiology Order">
              <p>
                At vero eos et 
              </p>
            </p-tabPanel>
          </p-tabView>
        </div>

        <div>
          <p-fileUpload mode="basic" chooseLabel="Upload a file" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [maxFileSize]="1000000" (onUpload)="null"></p-fileUpload>
        </div>

      </div>
    </section>
  </div>
</div>