/* CSS Styles */
@import '/src/variable.scss';
.patient-page {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    // padding: 20px;
  }

  .first-title{
    font-size: 24px;
    font-weight: 500;
  }
  
  .profile-container {
    display: flex; 
    align-items: center; 
    margin-bottom: 30px;
  }
  
  .profile-picture {
    width: 105px;
    height: 105px;
    border-radius: 35%;
    object-fit: cover;
  }
  
  .profile-name {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
  }
  
  .profile-info {
    font-size: 18px;
    margin: 0;
    color: #777;
  }
  
  .profile-location {
    font-size: 16px;
    margin: 0;
    color: #777;
  }
  
  .section-title {
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
  }
  
  .history-list,
  .prescription-list {
    list-style: none;
    padding: 0;
  }
  
  .history-item,
  .prescription-item {
    margin-bottom: 20px;
  }
  
  .history-date,
  .prescription-title {
    font-size: 18px;
    margin: 0;
  }
  
  .history-description,
  .prescription-details {
    font-size: 16px;
    margin: 0;
  }  
  .medical-history-images{
    width: 50px;
    height: 50px;
  }

  .prescription-btn{
    font-weight: 600;
    font-size: 20px;
    border: dashed 4px #5bbb70;
    color: #5bbb70;
    height: 80px;
    border-radius: 8px;
  }

  .medical-history-card{
    max-width: 31%;
    width: 31%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: 200px;
  }
  
  .m-history-card-heading{
    font-weight: 700;
    font-size: 15px;
  }

  .m-history-card-reading{
    font-size: 35px;
    font-weight: 600;
  }

  .readingUnit{
    margin-top: 15px;
  }

  .patient-info-labels{
    font-weight: 600;
  }

  .history-item-div{
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 10px 15px;
    font-size: 17px;
    span:last-child{
    color: #777;
    font-weight: 600;
    }
  }
  .clipboard-icon{
    background-color: rgb(255, 239, 239);
    color: red;
    width: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    border-radius: 10px;
  }

  .user-profile{
    width: 100%;
    max-width: 300px;
    z-index: 2;
    @media screen and (max-width:1200px) {
      &.user-about-hide{
        position: fixed;
        right: -270px;
        .profile-wrapper{
          background-color: $bgGray;
        }
      }
      &.user-about-show{
        background-color: $bgGray;
        position: absolute;
        box-shadow: 5px 10px 7px 8px rgba(0, 0, 0, 0.2);
        right: 0px;
      }
    }
  }

  .user-profile-icon{
    z-index: 5;
  }

  .user-left-section{
    width: 100%;
    max-width: 176px;
    z-index: 1;
    @media screen and (max-width:1200px) {
      // background-color: $bgGray;
      position: absolute;
      &.user-side-hide{
        left: -149px;
      }
      &.user-side-show{
        left: 0px;
      }
    }
  }

  .active-section{
    max-width: 150px;
    flex-direction: column;
    @media screen and (max-width) {
      flex-direction: row;
    }
  }

  .section-menu-content{
    background-color: $bgGray;
    box-shadow: -2px -2px 10px 6px rgba(0, 0, 0, 0.2);
  }