.container{
    display: flex;
    flex-direction: row;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}
.sideNav{
    width: 25%;
}

.mainPage{
    padding: 5px;
    margin-left: 20px;
}
.pushed-content{
    margin-left: -25%;
}

.sideNav{
    transition: 1s;
}
.togle-btn{
    z-index: 2;
}

.inside-header{
    
}