<div class="flex flex-col">
    <div class="flex justify-center mt-6">
        <h1>Pharmacy Purchase</h1>
    </div>
    <div class="mt-5">
        <div class="p-5">
            <form [formGroup]="purchaseMedicineForm">
                <div class="mb-5 w-1/3">
                    <label class="w-full" for="category">Vendor :<span class="text-danger"></span></label>
                    <p-autoComplete [suggestions]="vendorsToView" #vendor dropdownIcon="pi pi-search"
                        (completeMethod)="onSearchVendor($event)" [dropdown]="true"
                        (onSelect)="onVendorSelection(vendor.value.id)" field="name" dropdownIcon="pi pi-search"
                        [minLength]="3" [showEmptyMessage]="true"></p-autoComplete>
                </div>
                <div class="flex flex-column" formArrayName="medicines">
                    <div *ngFor="let form of medicines.controls; let i = index" class="flex mb-3">
                        <p class="text-2xl mr-2 font-bold mr-5">{{i+1}}</p>
                        <div [formGroupName]="i" class="flex">
                            <div class="grid md:grid-cols-4 gap-4 w-full px-2 md:px-8">
                                <div>
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="">Medicine
                                        Name</label>
                                    <p-autoComplete [suggestions]="medicineToView" #medicine dropdownIcon="pi pi-search"
                                        (completeMethod)="onSearchMedicine($event)" [dropdown]="true"
                                        (onSelect)="onMedicineSelection(i,medicine.value.id)" field="name"
                                        dropdownIcon="pi pi-search" [minLength]="3" placeholder="select medicine"
                                        [showEmptyMessage]="true"></p-autoComplete>
                                </div>
                                <div>
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="">Medicine
                                        Packs</label>
                                    <input pInputText
                                        class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        type="number" formControlName="packsQty" #packsQty (input)="packsQtyChnage(packsQty.value, i)">
                                </div>
                                <div>
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="">#Units
                                        Per/Pak</label>
                                    <input pInputText
                                        class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        type="number" formControlName="unitsPerPack" #unitsQty (input)="unitsInPackChange(unitsQty.value, i)">
                                </div>
                                <div>
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="">Price Of A
                                        Pack</label>
                                    <input pInputText
                                        class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        type="number" formControlName="packPrice" #packPrice (input)="packPriceChange(packPrice.value, i)">
                                </div>
                                <div>
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="">Price Of A
                                        Unit</label> 
                                    <input pInputText
                                        class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                        type="number" formControlName="unitPrice">
                                </div>
                                <div>
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="">MFG: Date</label>
                                    <p-calendar [showIcon]="true" formControlName="mfgDate"></p-calendar>
                                </div>
                                <div>
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="">EXP: Date</label>
                                    <p-calendar [showIcon]="true" formControlName="expDate"></p-calendar>
                                </div>
                                <div>
                                    <label class="block text-gray-700 text-sm font-bold mb-2" for="">Brand</label>
                                    <p-autoComplete [suggestions]="brandToView" #brand
                                        (completeMethod)="onSearchBrand($event)" [dropdown]="true"
                                        (onSelect)="onBrandSelection(i,brand.value.id)" field="name" [minLength]="3"
                                        placeholder="select medicine brand" [showEmptyMessage]="true"></p-autoComplete>
                                </div>
                            </div>
                            <div>
                                <span (click)="removeMedicine(i)"><i class="fa fa-trash"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-fit mt-4 mb-4">
    
                    <p-button (click)="addMedicine()">+
                        Add a medicine</p-button>
                </div>
                <div>
                    <div> 
                        <h2>Discount:</h2>           
                        <p-dropdown placeholder="Select Discount Type" [options]="discountTypes" optionLabel="label" optionValue="value" formControlName="disountType" ></p-dropdown>
                        <input pInputText type="number" placeholder="Discount Amount" formControlName="discountInp" #dicountAmount (input)="discountAmountChange()" />
                    </div>        
                </div>
                <div class="flex flex-row-reverse">
                    <div class="flex flex-col p-2 w-full items-end">
                        <div class="w-1/3 flex justify-between p-2"><strong>Number Of Medicines:</strong> <span class="ml-4">{{medicines.length}}</span></div>
                        <div class="w-1/3 flex justify-between p-2"><strong>Dicount Amount:</strong> <span class="ml-4">{{purchaseMedicineForm.controls['discountAmount'].value}}</span></div>
                        <div class="w-1/3 flex justify-between p-2"><strong>Gross Total:</strong> <span class="ml-4">{{purchaseMedicineForm.controls['totalAmount'].value}}</span></div>
                        <div class="w-1/3 flex justify-between p-2"><strong>Net Total:</strong> <span class="ml-4">{{purchaseMedicineForm.controls['netTotalAmount'].value}}</span></div>
                    </div>
                </div>
            </form>
            <div class="flex justify-end mt-4">
                <p-button (click)="saveMedicine()">
                    Save
                </p-button>
                <p-button class="ml-3">Save
                    & Print</p-button>
            </div>
        </div>
    </div>

</div>