<p-tabView>
    <p-tabPanel header="Biography Data">
        <form action="">
            <div class="d-flex flex-column">
            <div>
                <label for="name">Name<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="" id="name">
            </div>
            <div>
                <label for="name">Gender</label>
                <div class="d-flex">
                    <div>
                        <label for="">Male</label>
                        <input class="form-check-input" type="radio" name="" id="male" [value]="'male'">
                    </div>
                    <div>
                        <label for="">Female</label>
                        <input class="form-check-input" type="radio" name="" id="female" [value]="'feMale'">
                    </div>
                    <div>
                        <label for="">Others</label>
                        <input class="form-check-input" type="radio" name="" id="others" [value]="'others'">
                    </div>
                </div>
            </div>
            <div>
                <label for="phone">Phone<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="" id="phone">
            </div>
            <div>
                <label for="email">Email<span class="text-danger">*</span></label>
                <input class="form-control" type="email" name="" id="email">
            </div>
            <div>
                <label for="departments">Doctor Departments</label>
                <input class="form-control" type="text" name="" id="departments">
            </div>
            <div>
                <label for="password">Password<span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="" id="password">
            </div>
            <div>
                <label for="name">roles</label>
                <input class="form-check-input" type="checkbox" name="" id="name">
            </div>                
        </div>
        </form>
    </p-tabPanel>
    <p-tabPanel header="Biography">
        <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
            ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
        </p>
    </p-tabPanel>
    <p-tabPanel header="Qualifications">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    </p-tabPanel>
    <p-tabPanel header="Service">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    </p-tabPanel>
    <p-tabPanel header="Timings">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    </p-tabPanel>
    <p-tabPanel header="FAQs">
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
            qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
        </p>
    </p-tabPanel>
</p-tabView>