<p>sample-collection-print works!</p>
<div class="flex justify-between">
    <div class="flex flex-column">
        <span><strong>Invoice Date: </strong> {{invoice.createdAt | date: 'EEE MMM, dd/yyyy'}}</span>
        <span><strong>Inv#: </strong> {{invoice.invoiceNumber}}</span>
    </div>
    <div>
        <h2>Sample Collection Slip</h2>
    </div>
    <div class="flex flex-column">
        <span><strong>Patient Name: </strong>{{invoice.patient.name}}</span>
        <span><strong>Gender: </strong> {{invoice.patient.gender}}</span>
        <span><strong>Age: </strong> {{invoice.patient.age}}</span>
    </div>
</div>
<table class="w-full">
    <thead>
        <tr>
            <th>Test Name</th>
            <th>Test Category</th>
            <th>Sample</th>
            <th>Sample Id</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let invItem of invoice.invoiceItems">
            <tr>
                <td>{{invItem.labTest.name}}</td>
                <td>{{invItem.labTest.categoryName}}</td>
                <td>{{invItem.labTest.testSample}}</td>
                <td>{{'sampleId'}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>

<div></div>