// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// @use '@angular/material' as mat;
// Plus imports for other components in your app.

// PrimeNg styles
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $HSMS-primary: mat.define-palette(mat.$indigo-palette);
// $HSMS-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
// $HSMS-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
// $HSMS-theme: mat.define-light-theme((
//   color: (
//     primary: $HSMS-primary,
//     accent: $HSMS-accent,
//     warn: $HSMS-warn,
//   )
// ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
// @include mat.all-component-themes($HSMS-theme);

// / You can add global styles to this file, and also import other style files /

@import "src/variable.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background-color: $themelight-blue;
  border-radius: 8px;
  outline: 1px solid rgba(112, 128, 144, 0);
}

* {
  font-family: sans-serif;
}

.inside-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 5px rgba(23, 23, 32, 0.1), 0 0 15px rgba(23, 23, 32, 0.1);
  margin: 20px 0 50px 0;
  h1 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
  }
}

.btn-success,
.btn-primary {
  border: 0;
  background-color: $btnbg;
  color: $bluetheme-textColor;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $btnbg;
  }
}

p-autocomplete {
  width: 100%;
  display: grid;

  .p-button {
    background: $ctrlbg;
    color: $bluetheme-textColor;
    border: 0;
    &:hover {
      background: $ctrlbg !important;
    }
  }
}

p-autocomplete {
  display: block;
  height: 36px;
  .p-autocomplete.p-component.p-autocomplete-dd {
    height: 100%;
    width: 100%;
  }
}

// btn css
// button{
//   color: $bluetheme-textColor;
//   border: 0;
//   padding: 5px 10px;
//   border-radius: 6px;
//   font-size: 16px;
//   &:hover{
//     background: $btnbg !important;
//   }
// }

p-calendar {
  display: block;
  width: 100%;
  height: 36px;
  .p-calendar.p-calendar-w-btn {
    height: 100%;
    width: 100%;
  }

  .p-button {
    background: $ctrlbg;
    color: $bluetheme-textColor;
    border: 0;
    &:hover {
      background: $ctrlbg !important;
    }
  }
}
input[type="textarea"],
input[type="number"],
input[type="email"],
input[type="text"] {
  height: 36px;
}

.spinnerStyle {
  width: 40px !important;
  height: 40px !important;

  svg {
    width: 30px !important;
    height: 30px !important;
  }
}

.matSpinner {
  position: absolute;
  top: 3px;
  right: 4px;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: end;

  .spin {
    width: 32px !important;
    height: 32px !important;

    svg {
      width: 32px !important;
      height: 32px !important;
    }
  }
}

p-button {
  display: flex;
  padding: 0;
  .p-button {
    border: 0;
    background: $ctrlbg;
    color: $bluetheme-textColor;
    border: 0;
    justify-content: center;
    width: 100%;
    padding: 8px 1.25rem;
    &:hover {
      background: $ctrlbg !important;
    }
  }
}

.mdc-dialog__title::before {
  height: 0 !important;
}

.close-icon:hover {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 5px 16px;
}

.generictable-customstyle {
  th {
    min-width: 0 !important;
  }
}

.p-tabview.p-component{
  width: 100%;
}

p-autoComplete {
  span{
    width: 100%;
    input{
      width: 100%;
    }
  }
}

.appointment{
  .p-tabview-nav li .p-tabview-nav-link,
  .p-tabview-nav{
    border: 0;
  }
  .p-tabview-nav-link{
    border: 0;
  }
 .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus{
  box-shadow: none;
 }
  .p-highlight{
    span{
      padding-bottom: 10px;
      border-bottom: 2px solid #3B82F6;
    }
  }
}

.uploadFiles-custom-style{
  .p-fileupload-buttonbar{
    p-button:has(uploadicon){
      display: none;
    }
    p-button{
      margin-top: 10px;
      width: 126px;
    }
  }
}

.uploadfile-card{
  .p-card-title{
    word-break: break-all;
  }
}

@media print {
  button {
    display: none;
  }
}