// Blue Theme color start

$blue-theme: #11438F;
$bluebg-theme: #11438F;
$bluetheme-Txt: #11438F;
$bluetheme-Border: #11438F;
$bluetheme-textColor: #fff;
$themelight-blue:#4545cf5d;
$orange: #EB8233;

// blue theme btn
$btnbg: $orange;
$btnTxt: $bluetheme-textColor;
// Blue Theme color end


// green color theme start
$green-theme: #31AA95;
$greenbg-theme: #31AA95;
$green-btnbg: $green-theme;
$green-btnborder: $green-theme;
$green-theme-WhiteTextColor: #fff;
$green-theme-BlackTextColor: black;

$ctrlbg: $green-theme;

// green color theme end

