<div class="row mb-4 align-items-end">
    <div class="col-4 mt-4">
        <label htmlFor="phoneNumber">Search Multiple Lab Test</label>
        <select class="form-select h-100 mt-3" (change)="selectLabTest($event)">
            <option selected [value]="null" disabled>All</option>
            <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
        </select>
    </div>
    <div class="col-4 mt-4">
        <select class="form-select h-100" (change)="selectLabTest($event)">
            <option selected [value]="null" disabled>Select Lab Orders</option>
            <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
        </select>
    </div>
    <div class="col-4 mt-4">
        <select class="form-select h-100" (change)="selectLabTest($event)">
            <option selected [value]="null" disabled>Select Priority</option>
            <option *ngFor="let priorty of testPriorty" [value]="priorty.id">{{priorty.name}}</option>
        </select>
    </div>
</div>
<!-- <div *ngFor="let checkbox of testsListToShow">
    <div *ngIf="checkbox.selected">
        {{ checkbox.name }}
    </div>
</div> -->
<!-- <ng-container  *ngIf="">
    <p-button icon="pi pi-edit" (onClick)="edit()"></p-button>
</ng-container> -->
<div class="d-flex test-type">
    <div class="col-3 test-type_category">
        <div class="tab" *ngFor="let tab of tabsToView" [ngClass]="tab.active ? 'activeTab': ''"
            (click)="active(tab.id)">
            <span>{{tab.name}}</span>
        </div>
    </div>

    <div class="ms-4 w-full test-type_detail">
            <div>
                <label>
                    <input type="checkbox" [(ngModel)]="allSelected" (change)="selectAllCheckboxes($event)"> Select All
                </label>
            </div>
            <div  class="grid grid-cols-3 gap-x-3 gap-y-3 my-2">
                <label *ngFor="let checkbox of testsListToShow; let i = index" class="rounded text-center text-lg font-bold border check-box-label overflow-hidden relative" for="{{i}}">
                    <input id="{{i}}" class="hidden check-box-style" type="checkbox" [value]="checkbox.id" [checked]="checkbox.selected" #chBox (change)="updateSelectedCheckboxes(chBox.checked, checkbox)">
                    {{ checkbox.name }}
                </label>
            </div>

        </div>
    </div>
    <!-- <ng-container *ngIf="!newData">
        <p-button label="Update" (onClick)="updateLabOrder()"></p-button>
    </ng-container>
    <div class="bottom" *ngIf="newData">
        <div class="d-flex ml-auto">
            <p-button (click)="addLabOrder()">Save</p-button>
        </div>
    </div> -->