.tab{
    height: 50px;
    display:  flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 2px 0px;
    border-radius: 25px 0px 0px 25px;
}

.activeTab{
    transition: background 800ms, color 200ms, ;
    color: #fff;    
    background-color: #11438F;
    animation: scale-up 0.3s 1;
}

.tablet-main{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.tablet{
  width: 30%;
}

@keyframes scale-up {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
}

.save-button{
  background-color: #11438F;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin: 0px 5px;
  height: 35px;
}

.bottom{
  display: flex;
  flex-direction: row;
}


.check-box-label:has(.check-box-style:checked){
  background-color: #2887ed;
  color: #fff;
}
.check-box-label{
  
}

.test-type{
  height: 500px;
  &_category,
  &_detail{
    height: 100%;
    overflow-y: auto;
  }
}

::ng-deep{
  .custom-chip{
    .p-component{
      background-color: #11438F;
      .p-element.p-icon-wrapper{
        color: white;
      } 
    }
    .p-chip-text{
      max-width: 100px;
      min-width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      color: #fff;
    }
  } 
}