::ng-deep.name-input{
    span{
        width: 100%;
        input{
            width: 100%;
        }
    }
    
}

.delete-icon{
    @media screen and (max-width:586px) {
        margin-top: 5px;
    }
}