<div class="d-flex col-12 flex-column">
    
    <div class="d-flex flex-column col-12 border border-secondary rounded p-1" [formGroup]="medicationForm">
        <div formArrayName="medicationItems">
            <div *ngFor="let medication of medicationItems.controls; let i = index" class="flex">
                <p class="text-2xl mr-2 font-bold">{{i+1}}</p>
                <div [formGroupName]="i" class="grid grid-cols-7 justify-content-between gap-2 p-2">
                    <div class="d-flex flex-column">
                        <label htmlFor="name">Name</label>
                        <p-autoComplete name="name" class="name-input" [suggestions]="suggestions" (completeMethod)="search($event)" formControlName="medicineId"></p-autoComplete>
                    </div>
                    <div class="d-flex flex-column">
                        <label htmlFor="duration">Duration</label>
                        <input pInputText type="text" name="" id="duration" >
                        <p-treeSelect class="md:w-20rem w-full mt-4" containerStyleClass="w-full" placeholder="Select Duration" formControlName="duration"></p-treeSelect>
                    </div>
                    <div class="d-flex flex-column">
                        <label htmlFor="dosage">Dosage</label>
                        <input pInputText type="text" name="" id="dosage" >
                        <p-treeSelect class="md:w-20rem w-full mt-4" containerStyleClass="w-full" placeholder="Select Dosage" formControlName="dosage"></p-treeSelect>
                    </div>
                    <div class="d-flex flex-column">
                        <label htmlFor="route">Route</label>
                        <p-treeSelect id="route" class="md:w-20rem w-full" containerStyleClass="w-full" placeholder="Select Route" formControlName="route"></p-treeSelect>
                    </div>
                    <div class="d-flex flex-column">
                        <label htmlFor="frequency">Frequency</label>
                        <p-treeSelect id="frequency" class="md:w-20rem w-full" containerStyleClass="w-full" placeholder="Select Frequency" formControlName="frequency"></p-treeSelect>
                    </div>
                    <div class="d-flex flex-column">
                        <label htmlFor="instruction">Instruction</label>
                        <input pInputText type="text" name="" id="instruction" formControlName="instruction">
                    </div>
                    <div class="text-center">
                        <button (click)="removeMedicationItem(i)"><i class="fas fa-trash mt-4"></i></button>
                    </div>
                </div>               
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary d-flex align-items-center mt-4 mb-2" (click)="addMedicationItem()"><i class="pi pi-plus"></i> Drug</button>
        <textarea rows="2" cols="93" class="mb-2" placeholder="Medication Notes" id="investigation" pInputTextarea ></textarea>
        <div>
            <p-checkbox  [binary]="true" inputId="reminder" ></p-checkbox><label class="m-x-2 ml-3" for="reminder">Send Reminder</label>
        </div>
    </div>
</div>