<div class="d-flex col-12 flex-column">
    <hr class="w-90 mb-2"  style="border: 1px solid #979797;">
    <ng-container *ngIf="!newData && showEdit">
        <div  class="flex flex-row-reverse m-3">
            <p-button icon="pi pi-file-edit" (onClick)="edit()"></p-button>
        </div>
    </ng-container>
    <div class="d-flex flex-column col-12 border border-secondary rounded p-1" [formGroup]="medicationForm">
        <div formArrayName="medicationItems">
            <div *ngFor="let form of medicationItems.controls; let i = index" class="flex">
                <p class="text-2xl mr-2 font-bold">{{i+1}}</p>
                <div [formGroupName]="i" class="grid grid-cols-1 md:grid-cols-7 justify-content-between gap-x-8 gap-y-2 p-2 w-full">
                    <div class="d-flex flex-column">
                        <label htmlFor="name">Name</label>
                        <p-autoComplete [suggestions]="medicinesToShow.length ? medicinesToShow : medicines" #medicinesToSelect
                                        (completeMethod)="search($event)"
                                        (onSelect)="onMedicineSelect(i,medicinesToSelect.value)" [field]="'name'" [minLength]="3" placeholder="Select Medicine"
                                        [showEmptyMessage]="true"
                                        formControlName="medicine"
                        >
                        <ng-template let-medicine pTemplate="selectedItem">
                            <span>{{medicine.name}} {{getMedicineType(medicine.medicineType)}} </span>
                            <small>{{medicine.potency}} {{getPotencyUnit(medicine.potencyUnits)}} ({{medicine.salt}})</small>
                          </ng-template>
                          <ng-template let-medicine pTemplate="item">
                            <div class="flex flex-column">
                                <span>{{medicine.name}} {{getMedicineType(medicine.medicineType)}}</span>
                                  <small>{{medicine.potency}} {{getPotencyUnit(medicine.potencyUnits)}} ({{medicine.salt}})</small> 
                            </div>
                          </ng-template>
                        </p-autoComplete>
                        <div *ngIf="form.get('medicineId')?.invalid && form.get('medicineId')?.touched">
                            <div class="text-danger" *ngIf="form.get('medicineId')?.errors">Medicine is required.</div>
                          </div>
                    </div>
                    <div class="d-flex flex-column">
                        <label htmlFor="duration">Duration</label>
                        <input pInputText type="number" name="" id="duration" formControlName="durationValue">
                        <div *ngIf="form.get('durationValue')?.invalid && form.get('durationValue')?.touched">
                            <div class="text-danger" *ngIf="form.get('durationValue')?.errors">Duration Value is required.</div>
                          </div>
                        <select class="form-select mt-2" type="number" name="" id="" formControlName="duration">
                            <option [value]="null" disabled >Select A Duration</option>
                            <option *ngFor="let duration of medicationDurations" [ngValue]="duration.value">{{duration.label}}</option>
                        </select>
                        <div *ngIf="form.get('duration')?.invalid && form.get('duration')?.touched">
                            <div class="text-danger" *ngIf="form.get('duration')?.errors">Duration period is required.</div>
                          </div>
                    </div>
                    <div class="d-flex flex-column">
                        <label htmlFor="dosage">Dosage</label>
                        <input pInputText type="number" name="" id="dosage"  formControlName="dosageValue">
                        <div *ngIf="form.get('dosageValue')?.invalid && form.get('dosageValue')?.touched">
                            <div class="text-danger" *ngIf="form.get('dosageValue')?.errors">Dosage value is required.</div>
                          </div>
                        <select class="form-select mt-2" type="number" name="" id="" formControlName="dosage">
                            <option [value]="null" desabled>Select A Dosage</option>
                            <option *ngFor="let dosage of medicationDosages" [ngValue]="dosage.value">{{dosage.label}}</option>
                        </select>
                        <div *ngIf="form.get('dosage')?.invalid && form.get('dosage')?.touched">
                            <div class="text-danger" *ngIf="form.get('dosage')?.errors">Dosage size is required.</div>
                          </div>
                    </div>
                    <div class="d-flex flex-column">
                        <label htmlFor="route">Route</label>
                        <select class="form-select" type="number" name="" id="" formControlName="route">
                            <option [value]="null" desabled>Select A Route</option>
                            <option *ngFor="let route of medicationRoutes" [ngValue]="route.value">{{route.label}}</option>
                        </select>
                        <div *ngIf="form.get('route')?.invalid && form.get('route')?.touched">
                            <div class="text-danger" *ngIf="form.get('route')?.errors">Route is required.</div>
                          </div>
                    </div>
                    <div class="d-flex flex-column">
                        <label htmlFor="frequency">Frequency</label>
                        <select class="form-select" type="number" name="" id="" formControlName="frequency">
                            <option [value]="null" desabled>Select A Frequency</option>
                            <option *ngFor="let frequency of medicationFrequencies" [ngValue]="frequency.value">{{frequency.label}}</option>
                        </select>
                        <div *ngIf="form.get('frequency')?.invalid && form.get('frequency')?.touched">
                            <div class="text-danger" *ngIf="form.get('frequency')?.errors">Frequency is required.</div>
                          </div>
                    </div>
                    <div class="d-flex flex-column">
                        <label htmlFor="instruction">Instruction</label>
                        <select class="form-select" formControlName="instruction">
                            <option [value]="null" desabled>Select An Instruction</option>
                            <option *ngFor="let instruction of medicationInstructions" [value]="instruction.value">{{instruction.label}}</option>
                        </select>
                        <div *ngIf="form.get('instruction')?.invalid && form.get('instruction')?.touched">
                            <div class="text-danger" *ngIf="form.get('instruction')?.errors">Instruction is required.</div>
                          </div>
                    </div>
                    <div class="text-center" *ngIf="newData || !showEdit">
                        <button (click)="removeMedicationItem(i)"><i class="fas fa-trash mt-4"></i></button>
                    </div>
                </div>               
            </div>
        </div>
        <div *ngIf="newData || !showEdit" class="w-fit">
            <p-button class="mt-4 mb-2" (click)="addMedicationItem()"><i class="pi pi-plus"></i> Drug</p-button>
        </div>
        <textarea rows="2" cols="93" class="mb-4 mt-2" placeholder="Medication Notes" id="investigation" pInputTextarea formControlName="medicationNotes"></textarea>
    </div>
    <ng-container *ngIf="!newData && !showEdit">
        <div class="flex gap-3 mb-3 mt-3">
            <p-button label="Update" (onClick)="update()"></p-button>
            <p-button label="Cancel" (onClick)="cancelEdit()"></p-button>
        </div>
    </ng-container>
    <ng-container *ngIf="newData && !showEdit">
        <div class="flex gap-3 mb-3 mt-3">
            <p-button label="Save" (onClick)="save()"></p-button>
            <!-- <p-button label="Cancel" (onClick)="cancelEdit()"></p-button> -->
        </div>
    </ng-container>
</div>